@media screen and (min-width: 1261px){
  .lang a:hover{
    text-decoration: underline;
    color:#45B3F1;
  }
  .menu:hover{
    color:#DF1E18;
    cursor: pointer;
  }
  .menu:hover path{
    transform-origin: center center;
    fill:#DF1E18;
    transform: rotate(-180deg);
  }
  .topmenu li:hover a:before {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  .topmenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
  }
  .submenu a:hover {
    color: #DF1E18;
  }
  .our-site:hover{
    color: #45B3F1;
  }
  .footer-link:hover{
    color: #45B3F1;
  }
  .footer-link:hover{
    color: #45B3F1;
  }
  .all-articles:hover{
    color: #45B3F1;
  }
  .all-articles:hover path{
    fill: #45B3F1;
  }
  .catalog-item:hover .hidden-undertext p{
    margin:0 10px 0 0;
    color: #45B3F1;
  }
  .catalog-item:hover .hidden-undertext{
    padding-bottom: 0px;
    opacity: 1;
    margin-top: 0px;
  }
  .catalog-item:hover .hidden-undertext{
    padding-bottom: 0px;
    opacity: 1;
    margin-top: 0px;
  }
  .item-container a:hover{
    color: #435363;
  }
  a.breadcrumbs-item:hover{
    color:  #20384E;;
  }
  .owl-prev:hover path{
    fill:#45B3F1;
  }
  .owl-next:hover path{
    fill:#45B3F1;
  }
  .articles:hover .owl-next{
    opacity: 1;
    top: calc(35% - 33px);
    transition-duration: .3s;
  }
  .articles:hover .owl-prev{
    opacity: 1;
    top: calc(35% - 33px);
    transition-duration: .3s;
  }
 .ankers a:hover{
   color: #DF1E18;
 }
 .button-spray-instruction:hover{
   background: linear-gradient(89.62deg, #007994 0.25%, #00C3EE 99.67%);
   border-radius: 50px;
 }
 .page-nav a:hover{
   font-size: 14px;
   line-height: 20px;
   color: #DF1E18;
   text-decoration-line: underline;
 }
 .btn-blue:hover::before{
   opacity: 1;
 }

 .btn-red:hover::before{
   opacity: 1;
 }
 .dropdown-btn:hover{
   cursor: pointer;
   border: 1px solid #45B3F1;
 }
 .dropdown-btn:hover path{
   transform-origin: center center;
   transform: rotate(0deg);
 }
 .dropdown:hover .dropdown-list{
   opacity:1
 }
 .dropdown-link:hover{
   cursor: pointer;
   color: #DF1E18;
 }
 .back-to:hover{
   cursor: pointer;
   color: #45B3F1;
 }
 .back-to:hover path{
   fill:#45B3F1;
 }
 .soc-webs a:hover path{
   fill:#20384E;
 }
 .products:hover{
   background-color: #F2FAFF;
   cursor: pointer;
 }
 .button-prod:hover{
   background: linear-gradient(90deg, #620000 0%, #D60000 100%);
 }
 .button-instr:hover{
   background: linear-gradient(89.62deg, #007994 0.25%, #00C3EE 99.67%);
 }
 .cookie a:hover{
   color: #DF1E18;
 }
 .cookie a:hover path{
   fill: #DF1E18;
 }
.cookie-btn:hover{
  background: linear-gradient(89.62deg, #007994 0.25%, #00C3EE 99.67%);
  border-radius: 50px;
}
.green:hover {
  background: radial-gradient(50% 50% at 50% 50%, #05F83A 0%, rgba(255, 255, 255, 0) 100%);
}
.blue:hover {
  background: radial-gradient(50% 50% at 50% 50%, #00b0d5 0%, rgba(255, 255, 255, 0) 100%);
}
.yellow:hover {
  background: radial-gradient(50% 50% at 50% 50%, #f6e770 0%, rgba(255, 255, 255, 0) 100%);
}
.catalog-choose:hover{
  .hidden-undertext-choose p{
    margin:0 10px 0 0;
    color: #45B3F1;
  }
  .hidden-undertext-choose{
    padding-bottom: 0px;
    opacity: 1;
    margin-top: 0px;
  }
  .choose-container{
    height: 300px;
  }
  .catalog-choose-img{
    top: -50px;
  }
}
.item-container  a:hover{
    color: #435363;
  }
  .catalog-item:hover .img-container{
    height: 170px;
  }
  .more-articles-btn:hover{
    background: linear-gradient(89.62deg, #007994 0.25%, #00C3EE 99.67%);
  }
.video-item:hover{
  .play{
    left:calc(50% - 54.5px);
    top:calc(50% - 54.5px);
    height: 109px;
    width: 109px!important;
  }
}
.panel:hover{
  background: #FFFFFF;
  path{
    fill: #DF1E18;
  }
}

























}
