@media screen and (max-width: 1450px){
  body{
    position: relative;
    overflow-x: hidden;
    margin: 0;
    font-family: MetaPro;
    font-size: 14px;
    line-height: 20px;
    overflow-x: hidden;
    position: relative;
  }
  header {
    font-size: 14px;
    color:#20384E;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: MetaPro;
  }
  footer{
    font-size: 16px;
    color:#20384E;
    margin-top: 0;
    margin-bottom: 0;
    font-family: MetaPro;
  }
  .menu_button_mobile{
    display: none;
  }
  .container{
    display: flex;
    width:1166px;
    margin: auto;
  }
  .arrow{
    width: 5px;
    height: 8px;
    margin-left: 5px;
  }
  .menu-mobile{
    display: none;
  }
  .menu{
    text-align: center;
    font-family: MetaPro;
    color: #20384E;
    font-size: 14px;
    margin-right: 30px;
  }
  .logo{
    height: 40px;
    width: 159px;
    margin-right: 50px;
    margin-top: 25px;
  }
  .button{
    justify-content: center;
    margin-top: 20px;
    margin-left: 34px;
    font-size: 16px;
    border: 0;
    height: 50px;
    width: 112px;
    background: linear-gradient(180deg, #CE2424 0%, #FF0000 100%);
    border-radius: 50px;
  }

  .button a{
    margin: 13px 20px 13px 20px;
    display: flex;
    width: 72px;
    color: #FFFFFF;
    font-family: MetaPro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
  }
  .slogan{
    font-family: MetaPro;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 190px;
    height: 40px;
  }
  .point{
    height: 5px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .lang{
    color:#758A9D;
    margin-left: 50px;
    align-items:center;
    margin-top: 33px;
    margin-bottom: 33px;
    height: 24px;
    font-size: 14px;
    display: flex
  }
  .lang a:link{
    color:#758A9D;
    text-decoration: none;
  }
  .lang a:visited{
    color:#758A9D;
    text-decoration: none;
  }

  .lang a:active{
    color:#20384E;
  }
  .topmenu{
    margin-bottom: 33px;
    padding: 0;
    margin-top: 33px;
    display: flex;
    height: 24px;
  }
  .menu{
    position: relative;
  }


  .topmenu > li {
    display: inline-block;
    position: relative;
  }
  .topmenu > li > a {
    position: relative;
    padding: 10px 15px;
    line-height: 1;
    letter-spacing: 3px;
  }
  .topmenu > li > a:before {
    content: "";
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 150%;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    transform: translate(-50%, 20px);
    opacity: 0;
    transition: .3s;
  }

  .submenu {
    list-style-type:none;
    position: absolute;
    z-index: 4;
    left: 70%;
    top: 100%;
    width: 200px;
    padding: 15px 0 15px;
    margin-top: 5px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 20px);
    transition: .3s;
  }

  .submenu a {
    color:#20384E;
    text-decoration: none;
    transition: .3s linear;
  }


  .prod{
    width: 156px;
  }
  .info{
    width: 177px;
  }
  .set{
    width: 97px;
  }
  .footer{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(269.9deg, #F4FBFF 12.37%, #DDF3FF 96.14%);
  }
  .footer-container{
    width: 1166px;
    margin: auto;
  }
  .infoblock{
    background-color: #003B5C;
    color: #82BDDE;
    font-size: 24px;
    line-height: 20px;
    height: 38px;
    width: 100%;
    text-align: center;
  }
  .infoblock p{
    text-transform: uppercase;
    font-weight: 400;
    font-family: MetaPro;
    margin: 0 0 0 0;
    padding-top: 9px;
  }
  .main-container{
    display: flex;
  }
  .our-site{
    margin: 0 0 13px 0;
    width: 150px;
    text-decoration: none;
    font-family: MetaPro;
    color: #20384E;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }

  .law-info{
    margin: 0;
    width: 297px;
    font-family: MetaPro;
    color: #20384E;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .all-right-reserved{
    margin: 0 0 -15px 0;
    width: 230px;
    font-family: MetaPro;
    color: #20384E;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  .footer-links{
    width: 761px;
  }
  .footer-information{
   margin-right: 20px;
   margin-bottom: 0;
  }
  .footer-link{
    margin: 10px 20px 20px 0;
    text-decoration: none;
    font-family: MetaPro;
    color: #20384E;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
  }
  .articles-footer{
    display: none;
  }
  .law-footer{
    display: none;
  }
  .buy-footer{
    display: none;
  }
  .contancts-footer{
    display: none;
  }
  .confidential-footer{
    display: flex;
  }
  .afteruses-footer{
    display: none;
  }
  .all-right-reserved-mobile{
    display: none;
  }

  .footer-warn{
    margin: 20px 0 0 0;
    font-family: MetaPro;
    font-size: 14px;
    line-height: 140%;
    color: #20384E;
  }
  .footer-logo{
    position: absolute;
    right: 0;
    top: calc(50% - 24px);
  }
  .mixin-interesting-block{
    height: 570px;
    width: 100%;
    background: linear-gradient(269.9deg, #F4FBFF 12.37%, #DDF3FF 96.14%);
  }
  .mixin-interesting-block .container{
    flex-direction: column;
  }
  .interesting{
    margin:80px 0px 44px 0px;
    width: 277px;
    font-family: MetaPro;
    color: #20384E;
    font-weight: 700;
    font-size: 36px;
    line-height: 55px;
  }
  .interesting-text{
    display: flex;
    font-size: 16px;
    line-height: 24px;
  }
  .all-articles{
    margin: 95px 0px 76px 778px;
    height: 24px;
    color: #20384E;
    text-decoration: none;
  }


  .long-arrow{
    margin-left: 10px;
    height: 8px;
  }
  .sometxt{
    font-family: MetaPro;
    padding: 6px 12px 6px 12px;
    color: #20384E;
    font-size: 16px;
    line-height: 100%;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 20px;
  }
  .img-container{
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    color: white;
    text-decoration: none;
    overflow: hidden;
    width: 262px;
    border-radius: 10px;
    transition-duration: .3s;
    height: 190px;
  }
  .catalog-item-img{
    width: 100%;
  }

  .articles{
    margin-bottom: 10px;
  }
  .undertext{
    font-size: 16px;
    line-height: 140%;
    color: #435363;
    margin: 0 0 0 0;
    width: 262px;
  }
  .hidden-undertext{
    position: absolute;
    top:160px;
    left: 0;
    display: flex;
    opacity: 0;
    height: 1px;
    font-size: 16px;
    line-height: 140%;
    color: #435363;
  }
  .hidden-undertext path{
    fill: #45B3F1;;
  }
  .item-container{
    width: 262px;
  }

  .item-container a{
    color: #435363;
    text-decoration: none;
  }
  .not-move{
    height: 201px;
  }
  .breadcrumbs{
    padding-bottom: 20px;
    padding-top: -23px;
  }

  .breadcrumbs-item {
    color: #D6D9DD;
  }
  .breadcrumbs-arrow {
    height: 17px;
    width: 8px;
    padding: 0 5px;
  }
  .breadcrumbs {
    position: absolute;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .owl-prev{
    opacity: 0;
    transition-duration: .3s;
    right:-50px;
    top: 40%;
    position: absolute;
  }

  .owl-prev:focus {
      outline: none;
  }
  .owl-next:focus {
      outline: none;
  }
  .owl-next{
    opacity: 0;
    transition-duration: .3s;
    left:-50px;
    top: 40%;
    position: absolute;

  }
  .img-404 img{
    margin-bottom: -5px;
    margin-top: 0px;
    width: 330,59px ;
    height: 470px;
  }

  .head-block .container {
    flex-direction:column;
    position: relative;
  }
  .ankers{
    padding: 0;
    margin: 0;
    width: 529px;
    height: 140px;
    margin-bottom: 129px;
  }
  .ankers li{
    display: inline-block;
  }
  .ankers a{
    margin-right: 20px;
    color: #125490;
    display: block;
    white-space: nowrap;
    font-size: 14px;
    line-height: 20px;
  }
  .button-spray-instruction{
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    margin-bottom: 70px;
    justify-content: center;
    font-size: 16px;
    border: 0;
    height: 50px;
    width: 260px;
    background: linear-gradient(89.62deg, #00CDFA 0.25%, #00BEE8 99.67%);
    border-radius: 50px;
  }
  .button-spray-instruction a{
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    font-family: MetaPro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
  }

  .spray-title{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: MetaPro;
    font-weight: 700;
    font-size: 36px;
    line-height: 55px;
     color: #20384E;
  }
  .spray-info{
    margin:0 0 10px 0;
    font-size: 16px;
    line-height: 150%;
    color: #435363;
  }
  .head-container{
    display: flex;
    margin-bottom: 50px;;
    margin-left: 30px;
  }
  .head-text-spray-prod{
    margin-left: 0px;
  }
  .total-action{
    height: 109px;
    width: 122px;
    position: absolute;
    margin-left: 20px;
    animation: rotate_logo 4s infinite;
    transition-timing-function: cubic-bezier(0, 4.9, 0, 0.06)
  }
  .srpay-photo{
    height: 80%;
    width: 80%;
    margin-top: -10px;
  }
  .pills-photo{
    height: 90%;
    width: 90%;
    margin-top: -50px;
  }
  .head-images-spray{
    position: relative;
    margin-top: 137px;
    margin-left: 92px;
  }
  .cross{
    position: absolute;
    z-index: -10;
    right: calc(50% - 1000px);
    top: calc(50% - 110px);
  }
  .cross-instr{
    width: 100px;
    height: 100px;
    z-index: -10;
    position: absolute;
    right: calc(50% - 400px);
    top: calc(50% - 400px);
  }
  .page-text{
    width: 690px;
  }
  .page-content{
    display: flex;
    margin-left: 30px;
    color: #20384E;
  }
  .page-nav{
    padding: 10px 20px 30px 30px;
    position: sticky;
    right: 100px;
    top:120px;
    width: 296px;
    height: 300px;
    margin-left: 120px;
    background: #F2FAFF;
    border-radius: 10px;
    overflow-y: scroll;

    margin-bottom: 150px;
  }
  .page-nav a{
    font-size: 14px;
    line-height: 20px;
    color: #125491;
    text-decoration-line: underline;
  }

  .page-nav ul{
    min-height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .page-nav li{
    margin-top: 20px;
  }
  .page-text h2{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin: 0 0 20px 0;
  }
  .page-text p{
    color: #435363;
    margin-top: 0;

    font-size: 16px;
    line-height: 150%;
  }
  .page-text h1{
    margin: 0px 0 70px 0;
  }
  .page-text ul{
    padding-left: 17px;
    list-style: none;
    font-size: 16px;
    line-height: 150%;
  }
  .page-text h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    margin:0 0 20px 0;
  }
  .page-text li{
    position: relative;
  }
  .page-text li:before{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #20384E;
    left: -17px;
    top: 9px;
  }
  .finished-text{
    margin-bottom: 50px;
  }
  .finished-page{
    margin-bottom: 150px;
  }
  .upstairs{
    position: sticky;
    right: 50%;
    bottom: 5%;
    z-index: 5;
  }

  .razm-320{
    display: none;
  }
  .razm-768{
    display: none;
  }



  #scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #E4EEF4;
    border-radius:5px;
  }

  #scrollbar::-webkit-scrollbar-thumb{
    background-color: #45B3F1;
    border-radius:5px;
  }













  .breadcrumbs-block{
    margin-top: -30px;
  }
  .atrlicles-content{
    margin-top: 75px;
  }
  .atrlicles-content h1{
    font-size: 54px;
    line-height: 55px;
    margin: 0;
    color: #20384E;
  }
  .articles-a-lot{
    display: grid;
    grid-template-columns: 302px 302px 302px 302px;
  }
  .grid-elem{
    margin-bottom: 50px;
    position: relative;

  }
  .dropdown{
    position: relative;
    width: 325px;
    margin-top:100px;
    margin-bottom: 50px;
  }
  .dropdown-btn{
    width: 325px;
    height: 71px;
    background: rgba(69, 179, 241, 0.05);
    border: 1px solid rgba(69, 179, 241, 0.1);
    border-radius: 5px;
    display: flex;
  }
  .dropdown-btn span{
    padding: 25px 0px 26px 30px;
    font-family: MetaPro;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #65788A;
    height: 20px;
    display: flex;
  }
  .btn-text{
    width: 248px;
  }
  .dropdown-btn svg{
    padding: 31px 30px 31px 30px;
  }
  .dropdown-btn path{
    transform-origin: center center;
    transform: rotate(180deg);
  }
  .dropdown-list{
    position: absolute;
    width: 325px;
    height: 148px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    top:80%;
    z-index: 50;
    opacity: 0;
  }

  .dropdown-list div{
    padding: 10px 0 10px 0;
    margin: 0;
  }
  .dropdown-link{
    font-size: 16px;
    line-height: 100%;
    color: #20384E;
    margin: 20px 0 20px 30px;
  }

  .more-articles-btn{
    margin: 20px 0px 150px 505px;
    width: 157px;
    height: 50px;
    background: linear-gradient(89.62deg, #00CDFA 0.25%, #00BEE8 99.67%);
    border-radius: 50px;
  }

  .more-articles-btn p{
    margin: 0;
    padding: 15px 30px 15px 30px;
    font-family: MetaPro;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    height: 20px;
    display: flex;
  }
  .more-grid-elem{
    display:none;
  }
  .grid-elem .hidden-undertext{
    position: absolute;
    top: 170px;
  }









  .page-content-article-name{
    color: #435363;
    display: flex;
    margin-top: 100px;
    width: 772px;
  }
  .page-content-article-name h1{
    font-weight: 700;
    font-size: 54px;
    line-height: 55px;
  }
  .page-content-article-name h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    margin-top: 100px;
    margin-bottom: 10px;
  }
  .page-text-article-name{
    width: 690px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 82px;
  }
  .illnes{
    height: 400px;
    width: 690px;
    margin-bottom: 100px;
  }
  .page-text-article-name h3{
    font-size: 32px;
    line-height: 140%;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .page-text-article-name p{
    margin: 20px 0 0 0;
    font-size: 16px;
    line-height: 150%;
  }
  .page-text-article-name ul{
    margin-top: 20px;
    font-size: 16px;
    line-height: 150%;
  }
  .page-text-article-name ul li{
    margin-bottom: 15px;
  }
  .block-total {
    margin-top: 35px;
    display: flex;
  }
  .ill{
    width: 348px;
  }
  .ill p{
    margin: 13px 0 0 0;
    font-size: 16px;
    line-height: 140%;
    color: #DF1E18;
  }
  .block-total .point{
    padding-top: 22px;
    margin: 0 20px 0 20px;
    font-size: 16px;
    line-height: 140%;
    color: #DF1E18;
  }
  .block-total h2{
    color: #45B3F1;
    font-size: 24px;
    line-height: 140%;
    margin: 0;
  }
  .block-total h3{
    margin: 0 0 7px 0;
  }
  .causes-ins{
    display:flex;
  }
  .causes-effects-ins{
    display: flex;
    flex-wrap: wrap;
  }
  .causes{
    margin-top: 40px;
  }
  .causes-effects{
    margin-top: 50px;
  }
  .ad h2{
    margin-left: 67px;
  }
  .ad-ins{
    margin-top: 73px;
    margin-left: 66px;
  }
  .ad-ins p{
    margin: 20px 0 0 0;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    width: 224px;
    color: #435363;
  }
  .ad-ins img{
    margin-left: 66px;
  }
  .interesting-fact{
    display: flex;
  }
  .interesting-fact-block{
    margin-bottom: 30px;
    margin-top: 100px;
  }
  .interesting-fact img{
    height: 25px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .interesting-fact h3{
    font-size: 30px;
    line-height: 140%;
    margin: 0;
  }
  .interesting-fact-block p{
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
    color: #DF1E18;
    margin: 30px 0 0 35px;
  }
  .gerbion{
    margin-top: 50px;
    display: flex;
    border: solid 1px;
    border-color: #2bd150;
    border-radius: 5px;
  }
  .gerb-block{
    margin: 15px 0 15px 30px;
  }
  .gerb-text h4{
    margin: 0 0 0 0;
    width: 278px;
    font-size: 24px;
    line-height: 140%;
    color: #1E8936;
  }
  .gerb-text {
    margin: 42px 0 0 72px;
  }
  .gerb-btn p{
    width: 90px;
    height: 20px;
    padding: 15px 30px 15px 30px;
    margin: 0 0 0 0;
    font-size: 14px;
    line-height: 20px;
    color: #1E8936;
  }
  .gerb-btn {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border: solid 1px;
    border-radius: 50px;
    border-color: #1E8936;
  }
  .red-txt{
    color: #DF1E18;
  }
  .advices{
    display: flex;
    flex-wrap: wrap;
  }
  .advice{
    width: 330px;
  }
  .advice{
    width: 330px;
  }
  .advice p{
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    line-height: 140%;
  }
  .advice:nth-child(odd){
    margin-right: 30px;
  }
  .do-u-know{
    display: flex;
  }
  .do-u-know-block{
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .do-u-know img{
    height: 25px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .do-u-know h3{
    font-size: 30px;
    line-height: 140%;
    margin: 0;
  }
  .do-u-know-block ul{
    font-size: 16px;
    padding-left: 20px;
    line-height: 150%;
    margin: 0 0 0 0;
  }
  .do-u-know-block li{
    font-size: 16px;
    line-height: 150%;
    margin: 20px 0 0 0;
  }
  .do-u-know-block li::marker{
    height: 7px;
    width: 7px;
    color:#DF1E18;
  }
  .navigation{
    display: flex;
  }
  .art ul{
    min-height: 100px;
  }
  .art{
    height: 220px;
  }



  .back-to svg{
    transform: rotate(180deg);
    margin: 10px 10px 0 0;
  }
  .back-to{
    width: 345px;
    display: flex;
    flex-direction: row;
  }

  .back-to p{
    margin-top: 0;
  }


  .soc-webs{

    display: flex;
  }
  .soc-webs a{
    height: 29px;
    margin-left: 10px;
  }
  .soc-webs p{
    margin-top: 0;
    width: 216px;
  }








  .products{
    font-size: 14px;
    line-height: 140%;
    color: #20384E;
    height: 92px;
    width: 250px;
    background-color: transparentize(#F2FAFF, 0.5);
    border-radius: 10px;
  }

  .products:active{
    border: 1px solid #45B3F1;
    border-radius: 10px;
  }
  .products:active .prod-container{
    padding: 14px 14px 14px 14px;
  }
  .prod-container{
    padding: 15px 15px 15px 15px;
    display: flex;
  }
  .text-prod{
    height: 60px;
    width: 124px;
  }
  .text-prod p{
    width: 124px;
    margin: 0 0 0 12px;
  }
  .map{
    margin-top: 50px;
    width: 100%;
    height: 550px;
    background-color: #C4C4C4;
  }
  .where-to-buy-content{

    margin: 100px 0 150px 0;
  }
  .where-to-buy{
    width: 100%;
    margin-top: 200px;
  }
  .where-to-buy h1{
    margin:0;
    font-size: 54px;
    line-height: 55px;
    color: #20384E;
  }
  .prods-line{
    margin-top: 30px;
    height: 92px;
    width: 100%;
  }
  .where-to-buy-txt{
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: #435363;
  }
  .map h2{
    position: relative;
    top: 43%;
    left:43%;
    font-size: 54px;
    line-height: 55px;
    color: #20384E;
  }
  .prods-line .owl-prev{
    opacity: 0;
    top: 35%;
    transition-duration: .3s;
  }
  .prods-line .owl-next{
    opacity: 0;
    top: 35%;
    transition-duration: .3s;
  }

  .prods-line.owl-carousel .owl-nav.disabled{
    display: block;
  }














  .spray-title-prod{
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: MetaPro;
    font-weight: 700;
    font-size: 36px;
    line-height: 55px;
    color: #435363;
  }
  .spray-info-prod{
    font-weight: 700;
    margin-bottom: 60px;
    font-size: 24px;
    line-height: 24px;
    padding-left: 25px;
    color: #20384E;
  }
  .spray-info-prod li{
    margin-bottom: 40px;
  }
  .spray-info-prod li::marker{
    height: 13px;
    width: 13px;
    color:  #CE2424;
  }
  .head-prod-container{
    display: flex;
    padding-bottom: 30px;
    margin-left: 90.5px;
  }
  .block-scroll{
    overflow: hidden;
  }
  .head-text-spray{
    margin-left: 0px;
  }
  .total-action-prod{
    height: 126px;
    width: 138px;
    left:-120px;
    top: calc(20% + 25px);
    position: absolute;

    animation: rotate_logo 4s infinite;
    transition-timing-function: cubic-bezier(0, 4.9, 0, 0.06)
  }
  .srpay-photo-prod{
    height: 465px;
    width: 387px;
    margin-top: -50px;
    margin-left: 110px;
  }
  .head-images-spray-prod{
    position: relative;
    margin-top: 137px;
    margin-left: 160px;
  }
  .checked-img{
    margin-left: 13px;
    display: flex;
    margin-top: 0;
  }

  .page-text-prod{
    width: 630px;
  }
  .page-content-prod{
    display: flex;
    margin-top: 120px;
    margin-left: 90.5px;
    color: #20384E;
  }
  .unic-form{
    display: flex;
  }
  .force-troix{
    margin: 50px 0 80px 0;
  }
  .spray-force{
    position: absolute;
    top: 250px;
    left: 273px;
    width: 173px;
    height: 249px;
  }
  .triple-force{
    position: relative;
  }
  .table-img{
    height: 210px;
    width: 160px;
  }
  .page-text-prod table tr{
    font-size: 14px;
    color:#20384E;
    text-align: center;
  }
  .page-text-prod table td{
    width: 189px;
  }
  .page-text-prod table th span{
    font-weight: 400;
    margin-top: 5px;
  }
  .tr-head{
    padding-bottom: 30px;
    border-bottom: 1px solid #45B3F1;
  }
  .tr-body{
    border-bottom: 1px solid #F2F2F2;
  }
  .td-title{
    font-weight: 700;
  }
  .page-text-prod table {
    border-collapse: collapse;
    height: 406px;
    width: 690px;
  }
  .page-text-prod h2{
    margin: 80px  0 50px 0;
    font-size: 36px;
    line-height: 140%;
  }
  .page-text-prod h1{
    margin: 0px  0 50px 0;
    font-size: 36px;
    line-height: 140%;
  }
  .page-text-prod h3{
    font-size: 24px;
    line-height: 150%;
    margin: 0;
  }
  .page-text-prod p{
    font-size: 16px;
    line-height: 150%;
    margin: 0;
  }
  .unic-form{
    margin-bottom: 80px;
    margin-top: 50px;
  }
  .unic-form-text{
    margin-left:30px;
  }
  .unic-form-text p{
    margin-bottom: 20px;
  }
  .graph{
    margin-bottom: 80px;
  }
  .block-time{
    display: flex;
  }
  .block-like{
    display: flex;
  }
  .block-hand{
    display: flex;
  }
  .time-ins{
    margin-left: 54px;
  }
  .hand-ins{
    margin-left: 54px;
  }
  .like-ins{
    margin-left: 54px;
  }
  .text-link{
    margin-top: 50px;
    margin-bottom: 150px;
  }
  .blocks h2{
    color: #DF1E18;
    margin-bottom: 20px;
    margin-top: 60px;
  }
  .blocks ul{
    font-size: 24px;
    line-height: 150%;
  }
  .blocks li{
    margin-top: 40px;
  }
  .blocks li::marker{
    color:#DF1E18;
  }
  .block-hand ul{
    font-size: 16px;
    line-height: 140%;
  }
  .block-hand li{
    margin-top:10px;
  }
  .block-hand li::marker{
    color: #20384E;
  }
  .button-prod{
    justify-content: center;
    margin-top: 50px;
    font-size: 16px;
    border: 0;
    display: flex;
    height: 50px;
    width: 132px;
    background: linear-gradient(180deg, #CE2424 0%, #FF0000 100%);
    border-radius: 50px;
  }

  .button-prod a{
    padding: 13px 20px 13px 20px;
    display: flex;
    width: 72px;
    color: #FFFFFF;
    font-family: MetaPro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
  }







  .sol{
    display: flex;
    margin-bottom: 40px;
    margin-right: 82px;
    img{
      margin-right: 30px;
    }
    h2{
      font-size: 24px;
      line-height: 140%;
      color:#DF1E18;
      margin: 0 ;
    }
    p{
      font-size: 16px;
      line-height: 140%;
      font-weight: 700;
      margin: 0;
    }
  }
  .rel{
    position: relative;
  }
  .dia{
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 140% !important;
    color: #FFFFFF;
  }
  .inf{
    position: absolute;
    top: 75%;
    right: 15px;
  }
  .ninf{
    text-align: center;
    width: 120px;
    position: absolute;
    top: 20%;
    right: 70px;
  }
  .diagram{
    position: absolute;
    z-index: -1;
  }
  .bg-diagram{
    left:55%;
    top:15%;
    position: absolute;
    z-index: -2;
  }
  .ideal-sol{
    display:flex;
  }
  .dia-block{
    margin-top: 50px;
    width: 690px;
    height: 312px;
    background: #F2FAFF;
    border-radius: 10px;
    display: flex;
    p{
      font-size: 14px;
      line-height: 140%;
      color: rgba(67, 83, 99, 0.5);
      margin-bottom: 20px;
    }
    div{
      margin-top: 30px;
      width: 320px;
      margin-left: 30px;
    }
    ul{
      font-size: 16px;
      line-height: 140%;
      padding-left: 20px;
    }
    li::marker{
      width: 7px;
      height: 7px;
    }
    li{
      margin-bottom: 20px;
    }
  }
  .pills-photo-prod{
    height: 397px;
    width: 627px;
    margin-top: -50px;
    margin-left: 130px;
  }
  .pills-force{
    position: absolute;
    top: 290px;
    left: 253px;
    width: 205px;
    height: 157px;}

  .table-img{
    height: 210px;
    width: 160px;
  }



  .for-kids-block{
    margin-top: 70px;

    width: 1167px;
    height: 974px;
    background-image: url('/dist/assets/img/bg-1366.svg');
    border-radius: 10px;
  }
  .every-mom{
    margin-top: 80px;
    display: flex;
    img{
      width: 512px;
      height: 264px;
    }
  }
  .every-mom p{
    font-size: 16px;
    line-height: 140%;
    font-weight: 700;
    width: 491px;
  }
  .cens{
    width: 59px !important;
    height: 59px !important;
    position: relative;
    top:0px;
    right: -70px;
  }
  .main-info p{
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 140%;
    font-weight: 700;
  }
  .main-info ul{
    font-size: 16px;
    line-height: 140%;
  }
  .main-info li::marker{
    width: 7px;
    height: 7px;
    color:#DF1E18;
  }
  .main-info {
    width: 600px;
  }
  .kids-ins-block{
    margin: auto;
    width: 979px;
    margin-top: 85px;
    display: flex;
  }
  .uls-list{
    display: flex;
  }
  .kids-img{
    width: 293px;
    height: 453px;
    margin-left: 160px;
    margin-top: -60px;
  }
  .not-inside{
    margin-top:60px;
  }
  .footnote{
    width: 979px;
    margin: auto;
    font-size: 16px;
    line-height: 140%;
  }
  .footnote p{
    margin-top: 60px;
  }




  .cookie{
    position:fixed;
    width: 100%;
    height: 205px;
    bottom: 0;
    left: 0;
    z-index: 10000;
    background: #FFFFFF;
    .container{
      margin-top: 20px;
      margin-bottom: 30px;
    }
    h2{
      font-size: 20px;
      line-height: 24px;
      color: #20384E;
    }
    p{
      font-size: 14px;
      line-height: 20px;
      color: #65788A;
    }
    a{
      font-size: 14px;
      line-height: 20px;
      color: #20384E;
      text-decoration: none;
    }

    .cookie-ins{
      display: flex;
      margin-left: 0px;
    }

  }
  .cookie-btn{
    justify-content: center;
    margin-top: 80px;
    margin-left: 100px;
    font-size: 16px;
    border: 0;
    display: flex;
    height: 50px;
    width: 185px;
    background:  linear-gradient(89.62deg, #00CDFA 0.25%, #00BEE8 99.67%);
    border-radius: 50px;
    a{
      padding: 13px 30px 13px 30px;
      display: flex;
      width: 125px;
      color: #FFFFFF !important;
      font-family: MetaPro;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none;
    }
  }

  .head-cont-main{

  }
  .head-scroll.owl-carousel{
    width: 600px;
    height: 300px;
    margin-left: 100px;
    margin-top: 80px;
    .owl-stage-outer{
      overflow:visible;
      .owl-stage{
        position: initial;
        transform: none !important;
      }
    }
    .owl-item{
      transition-duration: 0;
      position: absolute;
      left: 120%;
      opacity: 0;
      .img-pack{
          margin-top: -80px !important;
          opacity:1 !important;
      }
    }
    .owl-item.active{
      transition-duration: 1s;
      left: 20% !important;
      opacity: 1;
      .img-photo{
        img{
          width: 400px;
          height: 200px;
        }
      }
      .img-pack{
          margin-top: -80px !important;
          opacity:1 !important;
      }
    }
    .owl-item.active+.owl-item{
      transition-duration: 2s;
      left: 100%;
      display: block;
      opacity: 0.2;
      .img-photo{
        img{
          margin-top: 50px;
          width: 300px;
          height: 100px;
        }
      }
      .img-pack{
          margin-top: 50px !important;
          opacity:0 !important;
      }
    }

    .owl-item.active+.owl-item+.owl-item{
      transition-duration: 3s;
      left: 120%;
      display: block;
      opacity: 0;
      img{
        margin-top: 50px;
        width: 400px;
        height: 200px;
      }
    }
    .car-none{
      opacity:0;
      left:0;
      transition-duration: 0.5s;
    }


  }





  .baba-block{
    top:0px;
    width: 100%;
    position: absolute;
  }
  .story{
    position: relative;
    width: 100%;
    height: 712px;
    background-image: url('/dist/assets/img/bg-cross.svg');
  }
  .block-fix{
    top:0;
    left: 0;
    position: fixed;
    .story{
    top: -599px;
    }
    .head-head{
    top: -599px;
    }
  }
  .up-block {
    .story{
    top: -599px;
    }
    .head-head{
    top: -500px;
    }
  }
  .first{
    display: flex;
    position: absolute;
    img{
      position: relative;
      opacity: 0;
      transition-duration: .3s;
      margin-right: 272px;
      margin-top: -92px;
      width: 605px;
      height: 804px;
    }
    ul{

      margin-top: 236px;
      margin-bottom: 154px;
      font-family: MetaPro;
      font-weight: 700;
      font-size: 42px;
      color: #20384E;
      letter-spacing: 0.02em;
      line-height: 55px;
      li{
        transition-duration: .3s;
        opacity: 0;
        display: block;
        position: relative;
        margin-bottom: 51px;
      }
      ::before{
        position: absolute;
        width: 50px;
        height: 50px;
        content: url(/dist/assets/img/check-ul.svg);
        left: -90px;
      }
    }
  }

  .second{
    display: flex;
    position: absolute;
    h2{
      transition-duration: .3s;
      opacity: 0;
      margin-top: 0px;
      font-size: 42px;
      line-height: 55px;
      color: #45B3F1;
      margin-bottom: 40px;
    }
    .wmn{
      position: relative;
      opacity: 0;
      transition-duration: .3s;
      margin-left: -300px;
      margin-right: 0;
      margin-top: -92px;
      width: 605px;
      height: 804px;
    }
    .znak{
      margin-left: 300px;
      transition-duration: .5s;
      opacity:0;
      height:468px;
      padding-top: 149px;
    }
    ul{
      transition-duration: .3s;
      font-family: MetaPro;
      font-weight: 700;
      font-size: 42px;
      color: #20384E;
      letter-spacing: 0.02em;
      line-height: 55px;
      ::marker{
        color:#CE2424;
      }
      li{
        transition-duration: .3s !important;
        opacity: 0;
        margin-top: 200px;
        p{
          transition-duration: .3s;
          width: 504px;
          font-size: 16px;
          line-height: 150%;
          color: #435363;
          font-weight: 400;
        }
      }

    }
  }
  .third{
    display: flex;
    position: absolute;
    h2{
      transition-duration: .3s;
      opacity: 0;

      margin-left: 187px;
      font-size: 42px;
      line-height: 55px;
      color: #435363;
      margin-bottom: 40px;
    }
    .h2{
      margin-top: 210px;
      color: #DF1E18;
      margin-bottom: 0;
    }
    .wmn2{
      position: relative;
      opacity: 0;
      transition-duration: .3s;
      margin-left: -300px;
      margin-right: 0;
      margin-top: -92px;
      width: 605px;
      height: 804px;
    }
    p{
      opacity: 0;
      margin-left: 187px;
      transition-duration: .3s;
      width: 504px;
      font-size: 16px;
      line-height: 150%;
      color: #435363;
      font-weight: 400;
    }
  }



  .choose-container{
    margin-bottom: 20px;
    top: 30px;
    position: relative;
    text-align: center;
    color: white;
    text-decoration: none;
    overflow: hidden;
    border-radius: 10px;
    transition-duration: .3s;
    width: 250px;
    height: 236px;
  }
  .not-move-main{
    height: 300px;
  }
  .choose-container{
      height: 300px;
    }
  .undertext-choose{
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    width: 220px;
    color: #435363;
    margin: 0 0 0 0;
  }
  .hidden-undertext-choose{
    transition-duration: .3s;
    opacity: 0;
    position: absolute;
    top:250px;
    left: 0;
    display: flex;
    opacity: 0;
    height: 1px;
    font-size: 16px;
    line-height: 140%;
    color: #435363;
    path{
      fill: #45B3F1;;
    }
  }
  .catalog-choose-img{
    transition-duration: 1s;
    height: 300px;
    position: absolute;

  }
  .item-container{
   a{
      color: #435363;
      text-decoration: none;
    }

  }
  .choose-slider{
    margin-top: 140px;
  }


  .visible-test{
    display: flex;
    width: 100%;
    height: 427px;
    box-shadow: 0 4px 25px rgba(0,0,0,.06);
    img{
      width: 294px;
      height: 461px;
      margin-top: -34px;
      margin-left: 224px;
    }
  }
  .super-test{
    margin-top: 170px;
    margin-bottom: 150px;
    color: #20384E;
    .button-supertest{
      position:relative;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 16px;
      border: 0;
      height: 50px;
      width: 152px;
      border-radius: 50px;
      a{
        padding: 13px 30px 13px 30px;
        display: flex;
        width: 92px;
        color: #FFFFFF;
        font-family: MetaPro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
      }
    }
    h2{
      margin-top: 60px;
      margin-bottom: 20px;
      font-size: 36px;
      line-height: 55px;
    }
    p{
      margin: 0;
      font-size: 16px;
      line-height: 150%;
    }
    .super-text{
      margin-left: 192px;
      margin-right: 70px;
    }
  }
  .videos{
    margin-bottom: 150px;
    h2{
      font-size: 36px;
      line-height: 55px;
      color: #20384E;
    }
    .container{
      display: block;
    }
  }
  .faq{
    margin-bottom: 150px;
    h2{
      font-size: 36px;
      line-height: 55px;
      color: #20384E;
    }
    .container{
      display: block;
    }
    .faq-ins{
      display: flex;
    }
  }
  .baba{
    position: relative;
    .qst{
      opacity:0.4;
      position: absolute;
      width:10%;
      top: 100px;
      left:170px;
      transform: rotate(-24.98deg);
      animation: qst-anim-small 6s infinite;
    }
    .qst-anim{
      transform: rotate(21.02deg);
      position: absolute;
      top: -50px;
      left:470px;
      animation: qst-anim-big 6s infinite;

    }
    .wmn-faq{
      margin-left: 40px;
      margin-top: -80px;
    }
  }
  .video-item{
    position: relative;
    .play{
      transition-duration: .3s;
      position: absolute;
      left:calc(50% - 40.5px);
      top:calc(50% - 40.5px);
      height: 81px;
      width: 81px !important;
    }
    video{
      border-radius: 5px;
      width: 362px;
    }
    p{
      margin-bottom: 0;
    }
  }
  .youtube{
    border-radius: 5px;
  }
  .panel-btn{
    margin-bottom: 15px;
    .panel{
      width: 610px;
      background: #F2FAFF;
      border-radius: 5px;
      display: flex;
      p{
        padding-top: 18px;
        padding-bottom: 18px;
        margin: 0;
        font-size: 20px;
        line-height: 24px;
        color: #20384E;
      }
      span{
        padding-top: 18px;
        padding-bottom: 18px;
        margin: 0;
        font-size: 20px;
        line-height: 24px;
        color: #20384E;
      }
      svg{
        padding-top: 22.5px;
        padding-bottom: 22.5px;

        margin-right: 15px;
        margin-left: 20px;
      }
      .blue-txt{
        font-weight: 700;
        color: #45b3f1;
      }
    }
    .faq-text{

      width: 610px;
      box-shadow: 0 4px 25px rgba(0,0,0,.02);
      border-radius: 5px;
      margin-top: 25px;
      p{
        padding-bottom: 20px;
        margin-left: 55px;
        margin-right: 260px;
        font-size: 14px;
        line-height: 20px;
        color: #435363;
      }
    }

  }

  .analise{
    margin-top: 170px;
    margin-bottom: 150px;
    color: #20384E;
    .button-anlise{
      position:relative;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 16px;
      border: 0;
      height: 50px;
      width: 152px;
      border-radius: 50px;
      p{
        padding: 13px 30px 13px 30px;
        display: flex;
        width: 92px;
        color: #FFFFFF;
        font-family: MetaPro;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
      }
    }
    h2{
      margin-top: 60px;
      margin-bottom: 20px;
      font-size: 36px;
      line-height: 55px;
    }
    p{
      margin: 0;
      font-size: 16px;
      line-height: 150%;
    }
    .anlise-text{
      margin-left: 80px;
      margin-right: 70px;
    }
  }



  .choose-test{
    display: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin-right: 50px;
    height: 427px;
    width: 472px;
    font-size: 16px;
    line-height: 24px;
    color: #20384E;
     h2{
       margin-top: 20px;
       margin-bottom: 40px;
       font-size: 36px;
       line-height: 46px;
       color: #20384E;

     }
    .test-list{

    }
    p{
      margin-top: 20px;
    }
    .fin{
      font-weight: 700;
      margin-top: 50px;
    }
  }
  .test{
    display: flex;
    .test-container{
      margin: auto;
      width: 427px;
    }
    h2{
      margin-top: 30px;
      margin-bottom: 40px;
    }
  }


  .quest{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    height: 427px;
    width: 649px;
    position: relative;
    .round{
      position: absolute;
      width: 105px;
      top: 20px;
      left:20px;

    }
    .pict{
      position: absolute;
      width: 65px;
      top: 40px;
      left:40px;

    }
    .num{
      margin-top: 42px;
      margin-left: 145px;
      font-size: 24px;
      line-height: 32px;
      color: #45B3F1;
    }
    .qs{
      font-size: 24px;
      line-height: 140%;
      color: #20384E;
      margin-top: 20px;
      margin-left: 30px;
    }
    .btns{
      margin-left: 225px;
      margin-top: 50px;
    }
    .down{
      margin-top: 80px;
      display: flex;
    }
    .prc{
      margin-left: 30px;
      padding-top:20px;
      height: 20px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #435363;
    }
    .cout{
      margin-left: 69px;
      margin-right: 50px;
      padding-top:10px;
      height: 30px;
      font-size: 20px;
      line-height: 30px;
      color: #435363;
    }
    .ans-btn:active{
      background: #1BD6FF;
      border: solid 1px #45B3F1;
      p{
        color: #FFFFFF;
      }
    }
    .ans-btn {
      transition-duration: .3s;
      margin-right: 20px;
      height: 50px;
      border: solid 1px #45B3F1;
      border-radius: 50px;
      p{
        height: 20px;
        padding: 15px 20px 15px 20px;
        margin: 0 0 0 0;
        font-size: 16px;
        line-height: 16px;
        color: #45B3F1;
      }
    }
    .next-btn {
      transition-duration: .3s;
      height: 50px;
      border: solid 1px #45B3F1;
      border-radius: 50px;
      p{
        height: 20px;
        padding: 15px 30px 15px 30px;
        margin: 0 0 0 0;
        font-size: 20px;
        line-height: 20px;
        color: #45B3F1;
      }
    }
  }











  .visib-p{
    display: none;
  }



  @keyframes rotate_logo {
    0%{
      transform: scale(1.0);
    }
    2%{
      transform: scale(0.7);
    }
    24%{
      transform: scale(1.0) rotate(360deg);
    }
    25%{
      transform: rotate(0deg);
    }
  }
}
