@media screen and (max-width: 1260px){

  body{
    padding: 0;
    overflow-x: hidden;
    margin: 0;
    font-family: MetaPro;
    font-size: 14px;
    line-height: 20px;
    overflow-x: hidden;
    position: relative;
  }
  header {
    position: initial;
    font-size: 16px;
    color:#20384E;
    margin-top: 0;

    margin-bottom: 0;
    font-family: MetaPro;
    transition-duration: .5s;
  }
  footer{
    font-size: 16px;
    color:#20384E;
    margin-top: 0;
    margin-bottom: 0;
    font-family: MetaPro;
  }
  .header-mobile-modal{
    margin: 0;
    display: flex;
    width:668px;
  }
  .header-mobile-modal .slogan{
    width: 317px;
  }
  .menu-mobile{
    display: block;
    position: fixed;
    top:90px;
    left:-100%;
    width: 100%;
    height: calc(100vh - 90px);
    background-color:white;
    z-index: 9999999;
    overflow-x: auto;
    transition-duration: .5s;
  }
  .other-menu{
    text-align: center;
    margin: auto;
    width: 204px;
  }
  .other-menu path{
    fill: #DF1E18;
  }
  .other-menu ul{
    font-size: 20px;
    line-height: 24px;
    color:  #DF1E18;
    width: 230px;
    margin: 30px 0 0 0;
    padding: 0;
    list-style-type:none;
  }
  .menu-header{
    top: 0;
    background: white;
  }
  .fade{
    left: 0;
  }
  .close{
    color:#20384E;
  }
  .close_path{
    transform-origin: center center;
    transform: rotate(-180deg);
  }

  .close_path path{
    fill:#20384E;
  }

  .menu-head li{
    margin-bottom: 30px;
    width: 204px;
    font-size: 14px;
    line-height: 140%;
    color: #20384E;
  }
  .menu-head>li>a{
    margin-bottom: 30px;
    width: 204px;
    font-size: 14px;
    line-height: 140%;
    color: #20384E;
  }
  .other-menu>ul>li>div{
    padding-top: 30px;
    width: 230px;
  }

  .button-in-menu{
    margin-left: 46px;
    margin-top:100px;
    justify-content: center;
    font-size: 16px;
    border: 0;
    height: 50px;
    width: 112px;
    background: linear-gradient(180deg, #CE2424 0%, #FF0000 100%);
    border-radius: 50px;
  }
  .button-in-menu a{
    padding: 13px 20px 13px 20px;
    display: flex;
    width: 72px;
    color: #FFFFFF;
    font-family: MetaPro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
  }
  .container{
    display: flex;
    width:668px;
    margin: auto;
  }
  .point-menu{
    height: 5px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .lang-menu{
    margin-bottom: 30px;
    margin-top: 50px;
    margin-left: 77.14px;
    color:#758A9D;
    align-items:center;
    height: 24px;
    font-size: 16px;
    display: flex
  }
  .mobile-container{
    display: flex;
    width: 738px;
    margin: auto;

  }
  .mobile-block-always{
    display: block;
    bottom: 0;
    background: white;
    width: 100%;
    position: fixed;
    height: 70px;
    z-index: 999
  }
  .mobile-block-always img{
    width: 175px;
    height: 44px;
    margin-right: 60px;
    margin-top: 13px;
  }
  .button-down{
    margin-left: 60px;
    margin-top:10px;
    justify-content: center;
    font-size: 14px;
    border: 0;
    height: 50px;
    width: 123px;
    background: linear-gradient(180deg, #CE2424 0%, #FF0000 100%);
    border-radius: 50px;
  }
  .slogan-down{
    text-align:center;
    margin-top: 13px;
  }
  .button-down a{
    padding: 13px 30px 13px 30px;
    display: flex;
    width: 72px;
    color: #FFFFFF;
    font-family: MetaPro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
  }
  .lang-menu a:link{
    color:#758A9D;
    text-decoration: none;
  }
  .lang-menu a:visited{
    color:#758A9D;
    text-decoration: none;
  }
  .lang-menu a:hover{
    text-decoration: underline;
    color:#45B3F1;
  }
  .lang-menu a:active{
    color:#20384E;
  }
  .logo{
    height: 40px;
    width: 159px;
    margin-right: 72px;
    margin-top: 30px;
  }
  .button{
    display: none;
  }
  .menu{
    display: none;
  }
  .slogan{
    font-family: MetaPro;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    margin-left: 0px;
    margin-top: 40px;
    width: 317px;
    height: 44px;
  }
  .point{
    display: none;
  }
  .lang{
    display: none;
    }

  .topmenu{
    display: none;
  }

  .menu_button_mobile{
    display: flex;
    width: 48px;
    height: 31px;
    margin: 35px 0 0 72px;
  }

  .footer{
    margin-bottom: 30px;
    position: relative;
    display: flex;
    width: 100%;
    height: 364px;
    background: linear-gradient(269.9deg, #F4FBFF 12.37%, #DDF3FF 96.14%);
  }
  .footer-container{
    width: 718px;
    margin: auto;
  }
  .infoblock{
    background-color: #003B5C;
    color: #82BDDE;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    width: 100%;
    text-align: center;
  }
  .infoblock p{
    text-transform: uppercase;
    font-weight: 400;
    font-family: MetaPro;
    margin: 0 0 0 0;
    padding: 0;
  }
  .main-container{
    display: flex;
  }
  .our-site{
    margin: 0 0 13 0;
    width: 140px;
    text-decoration: none;
    font-family: MetaPro;
    color: #20384E;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }
  .our-site:hover{
    color: #45B3F1;
  }
  .law-info{
    margin: 0 0 30 0;
    width: 120px;
    font-family: MetaPro;
    color: #20384E;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .all-right-reserved{
    margin: 0 0 0 0;
    width: 96px;
    font-family: MetaPro;
    color: #20384E;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .footer-links{
    width: 388px;
  }
  .footer-information{
   margin-right: 86px;
  }
  .footer-link{
    margin: 10px 20px 20px 0;
    padding: 0;
    text-decoration: none;
    font-family: MetaPro;
    color: #20384E;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }
  .articles-footer{
    display: none;
  }
  .law-footer{
    display: flex;
  }
  .buy-footer{
    display: none;
  }
  .contancts-footer{
    display: flex;
  }
  .confidential-footer{
    display: flex;
  }
  .afteruses-footer{
    display: none;
  }
  .footer-link:hover{
    color: #45B3F1;
  }
  .footer-warn{
    width: 388px;
    margin-left: 0px;
    font-family: MetaPro;
    font-size: 12px;
    line-height: 140%;
    color: #20384E;
  }
  .footer-logo{
    position: absolute;
    right: 0;
    top: calc(80% - 24px);
  }
  .mixin-interesting-block{
    height: 570px;
    width: 100%;
    background: linear-gradient(269.9deg, #F4FBFF 12.37%, #DDF3FF 96.14%);
  }
  .mixin-interesting-block .container{
    flex-direction: column;
  }
  .interesting{
    margin:80px 0px 44px 0px;
    width: 277px;
    font-family: MetaPro;
    color: #20384E;
    font-weight: 700;
    font-size: 36px;
    line-height: 55px;
  }
  .interesting-text{
    display: flex;
    font-size: 16px;
    line-height: 24px;
  }
  .all-articles{
    margin: 95px 0px 76px 280px;
    height: 24px;
    color: #20384E;
    text-decoration: none;
  }
  .articles .owl-stage-outer{
    overflow: visible !important;
  }
  .all-atrlicles:hover{
    color: #45B3F1;
  }
  .all-atrlicles:hover path{
    fill: #45B3F1;
  }
  .long-arrow{
    margin-left: 10px;
    height: 8px;
  }
  .all-right-reserved-mobile{
    display: none;
  }
  .sometxt{
    font-family: MetaPro;
    padding: 6px 12px 6px 12px;
    color: #20384E;
    font-size: 16px;
    line-height: 100%;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 22px;
    border-radius: 20px;
  }
  .img-container{
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    color: white;
    text-decoration: none;
    overflow: hidden;
    width: 262px;
    border-radius: 10px;
    transition-duration: .3s;
    height: 190px;
  }
  .catalog-item:hover .img-container{
    height: 100%;
  }
  .catalog-item:hover img{
    border-radius: 10px;
  }
  .articles{
    margin-bottom: 0px;
  }
  .undertext{
    width: 262px;
    font-size: 16px;
    line-height: 140%;
    color: #435363;
    margin: 0 0 0 0;
  }
  .hidden-undertext{
    display: none;
  }

  .breadcrumbs{
    padding-bottom: 20px;
    padding-top: -23px;
  }
  .breadcrumbs-item {
    color: #D6D9DD;
  }
  .breadcrumbs-arrow {
    height: 17px;
    width: 8px;
    padding: 0 5px;
  }
  .breadcrumbs {
    position: absolute;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  a.breadcrumbs-item:hover{
    color:  #20384E;;
  }
  .owl-prev{
    display: none;
  }

  .owl-next{
    display: none;
  }


  .head-block .container {
    flex-direction:column;
    position: relative;
  }

  .ankers{
    display: none;
  }

  .button-spray-instruction{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    border: 0;
    height: 50px;
    width: 260px;
    background: linear-gradient(89.62deg, #00CDFA 0.25%, #00BEE8 99.67%);
    border-radius: 50px;
  }
  .button-spray-instruction a{
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    font-family: MetaPro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
  }
  .button-spray-instruction:hover{
    background: linear-gradient(89.62deg, #007994 0.25%, #00C3EE 99.67%);
    border-radius: 50px;
  }
  .spray-title{
    width: 303px;
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: MetaPro;
    font-weight: 700;
    font-size: 32px;
    line-height: 45px;
    color: #435363;
  }
  .spray-info{
    margin:0 0 20px 0;
    font-size: 16px;
    line-height: 150%;
    color: #435363;
  }
  .head-container{
    display: flex;

    margin-bottom: 0px;
    margin-left: 0px;
  }
  .head-text-spray{
    margin-left: 0px;

  }
  .total-action{
    height: 96px;
    width: 107px;
    position: absolute;
    margin: -10px 0 0 -90px;
    animation: rotate_logo 0s none;
  }
  .srpay-photo{
    height: 300px;
    width: 350px;
    margin-top: 10px;
  }
  .head-images-spray{
    position: relative;
    margin-top: 60px;
    margin-left: 50px;
  }
  .cross{
    width: 1096px;
    height: 630px;
    z-index: -10;
    position: absolute;
    right: calc(50% - 400px);
    top: calc(50% - 300px);
  }
  .page-text{
    width: 690px;
  }
  .page-content{
    display: flex;
    margin-left: 0px;
    color: #20384E;
  }
  .page-nav{
    display: none;
  }
  .page-nav a{
    font-size: 14px;
    line-height: 20px;
    color: #125491;
    text-decoration-line: underline;
  }
  .page-nav a:hover{
    font-size: 14px;
    line-height: 20px;
    color: #DF1E18;
    text-decoration-line: underline;
  }
  .page-nav ul{
    min-height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .page-nav li{
    margin-bottom: 20px;

  }
  .page-text h2{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin: 0 0 20px 0;
  }
  .page-text p{
    color: #435363;
    margin-top: 0;

    font-size: 16px;
    line-height: 150%;
  }
  .page-text h1{
    margin: 0px 0 70px 0;
  }
  .page-text ul{
    padding-left: 17px;
    list-style: none;
    font-size: 16px;
    line-height: 150%;
  }
  .page-text h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    margin:0 0 20px 0;
  }
  .page-text li{
    position: relative;
  }
  .page-text li:before{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #20384E;
    left: -17px;
    top: 9px;
  }

  .finished-text{
    margin-bottom: 50px;
  }
  .finished-page{
    margin-bottom: 150px;
  }
  .upstairs{
    position: sticky;
    right: 70px;
    bottom: 30px;
    z-index: 5;
  }
  #scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #E4EEF4;
    border-radius:5px;
  }

  #scrollbar::-webkit-scrollbar-thumb{
    background-color: #45B3F1;
    border-radius:5px;
  }

  .razm{
    display: none;
  }
  .razm-768{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100500;
  }
  .background-mixin{
    position: relative;
    top: 0;
    left: -40%;
  }
  .razm-320{
    display: none;
  }
  .mobile-disp{
    display: block;
  }

















  .container-404{
    width: 680px;

    display: flex;
    margin: auto;
    overflow: hidden;
  }
  .page-404 h1{
    margin-top: 150px;
    font-size: 54px;
    line-height: 55px;
    font-size: 54px;
    line-height: 55px;
    color: #20384E;
    margin-bottom: 30px;
  }
  .page-404-text{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    width: 319px;
    color: #20384E;
    margin-bottom: 50px;
  }
  .btn-404{
    justify-content: center;
    font-size: 16px;
    border: 0;
    height: 50px;
    width: 283px;
    background: linear-gradient(89.62deg, #00CDFA 0.25%, #00BEE8 99.67%);
    border-radius: 50px;
  }
  .btn-404:hover{
    background: linear-gradient(89.62deg, #007994 0.25%, #00C3EE 99.67%);
  }
  .btn-404 a{
    padding: 15px 25px 15px 25px;
    display: flex;
    width: 233px;
    color: #FFFFFF;
    font-family: MetaPro;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
  }
  .img-404 img{
    padding-top: 50px;
    margin-top: 0px;
    width: 363px;
    height: 550px;
  }









  .breadcrumbs-block{
    margin-top: -40px;
  }
  .atrlicles-content{
    margin-top: 50px;
  }
  .atrlicles-content h1{
    font-size: 54px;
    line-height: 55px;
    margin: 0;
    color: #20384E;
  }
  .articles-a-lot{
    display: grid;
    grid-template-columns: 350px 350px;
  }
  .grid-elem{
    margin-bottom: 50px;
  }
  .dropdown{
    position: relative;
    width: 325px;
    margin-top:50px;
    margin-bottom: 50px;
  }
  .dropdown-btn{
    width: 325px;
    height: 71px;
    background: rgba(69, 179, 241, 0.05);
    border: 1px solid rgba(69, 179, 241, 0.1);
    border-radius: 5px;
    display: flex;
  }
  .dropdown-btn span{
    padding: 25px 0px 26px 30px;
    font-family: MetaPro;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #65788A;
    height: 20px;
    display: flex;
  }
  .dropdown-btn svg{
    padding: 31px 30px 31px 30px;
  }
  .dropdown-btn path{
    transform-origin: center center;
    transform: rotate(180deg);
  }
  .dropdown-list{
    position: absolute;
    width: 325px;
    height: 148px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    top:80%;
    z-index: 50;
    opacity: 0;
  }
  .dropdown-btn:hover{
    border: 1px solid rgba(69, 179, 241, 0.1);
  }
  .dropdown:hover .dropdown-list{
    opacity:1;
  }

  .dropdown-list div{
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .dropdown-link{
    font-size: 16px;
    line-height: 100%;
    color: #20384E;
    margin: 0 0 20px 30px;
  }
  .dropdown-link:hover{
    color: #20384E;
  }
  .more-articles-btn{
    margin: 20px 0px 150px 265px;
    width: 157px;
    height: 50px;
    background: linear-gradient(89.62deg, #00CDFA 0.25%, #00BEE8 99.67%);
    border-radius: 50px;
  }
  .more-articles-btn:hover{
    background: linear-gradient(89.62deg, #007994 0.25%, #00C3EE 99.67%);
  }
  .more-articles-btn p{
    margin: 0;
    padding: 15px 30px 15px 30px;
    font-family: MetaPro;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    height: 20px;
    display: flex;
  }
  .more-grid-elem{
    display:none;
  }
  .grid-elem .item-container{
    width: 320px;
  }
  .grid-elem .img-container{
    width: 320px;
    height: 232px;
  }
  .grid-elem .item-container{
    width: 320px;
  }
  .grid-elem .not-move{
    height: 232px;
  }




  .page-content-article-name{
    color: #435363;
    display: flex;
    margin-top: 100px;
    width: 772px;
  }
  .page-content-article-name h1{
    font-weight: 700;
    font-size: 54px;
    line-height: 55px;
  }
  .page-content-article-name h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    margin-top: 100px;
    margin-bottom: 10px;
  }
  .page-text-article-name{
    width: 690px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 0;
  }
  .illnes{
    height: 400px;
    width: 690px;
    margin-bottom: 100px;
  }
  .page-text-article-name h3{
    font-size: 32px;
    line-height: 140%;
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .page-text-article-name p{
    margin: 20px 0 0 0;
    font-size: 16px;
    line-height: 150%;
  }
  .page-text-article-name ul{
    margin-top: 20px;
    font-size: 16px;
    line-height: 150%;
  }
  .page-text-article-name ul li{
    margin-bottom: 15px;
  }
  .block-total {
    margin-top: 35px;
    display: flex;
  }
  .ill{
    width: 348px;
  }
  .ill p{
    margin: 13px 0 0 0;
    font-size: 16px;
    line-height: 140%;
    color: #DF1E18;
  }
  .block-total .point{
    display: block;
    padding-top: 25px;
    margin: 0 20px 0 20px;
    font-size: 16px;
    line-height: 140%;
    color: #DF1E18;
  }
  .block-total h2{
    color: #45B3F1;
    font-size: 24px;
    line-height: 140%;
    margin: 0;
  }
  .block-total h3{
    margin: 0 0 7px 0;
  }
  .causes-ins{
    display:flex;
  }
  .causes-effects-ins{
    display: flex;
    flex-wrap: wrap;
  }
  .causes{
    margin-top: 40px;
  }
  .causes-effects{
    margin-top: 50px;
  }
  .ad h2{
    margin-left: 67px;
  }
  .ad-ins{
    margin-top: 73px;
    margin-left: 66px;
  }
  .ad-ins p{
    margin: 20px 0 0 0;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    width: 224px;
    color: #435363;
  }
  .ad-ins img{
    margin-left: 66px;
  }
  .interesting-fact{
    display: flex;
  }
  .interesting-fact-block{
    margin-bottom: 30px;
    margin-top: 100px;
  }
  .interesting-fact img{
    height: 25px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .interesting-fact h3{
    font-size: 30px;
    line-height: 140%;
    margin: 0;
  }
  .interesting-fact-block p{
    font-weight: 700;
    font-size: 24px;
    line-height: 33.6px;
    color: #DF1E18;
    margin: 30px 0 0 35px;
  }
  .gerbion{
    margin-top: 50px;
    display: flex;
    border: solid 1px;
    border-color: #2bd150;
    border-radius: 5px;
  }
  .gerb-block{
    margin: 15px 0 15px 30px;
  }
  .gerb-text h4{
    margin: 0 0 0 0;
    width: 278px;
    font-size: 24px;
    line-height: 140%;
    color: #1E8936;
  }
  .gerb-text {
    margin: 42px 0 0 72px;
  }
  .gerb-btn p{
    width: 90px;
    height: 20px;
    padding: 15px 30px 15px 30px;
    margin: 0 0 0 0;
    font-size: 14px;
    line-height: 20px;
    color: #1E8936;
  }
  .gerb-btn {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border: solid 1px;
    border-radius: 50px;
    border-color: #1E8936;
  }
  .red-txt{
    color: #DF1E18;
  }
  .advices{
    display: flex;
    flex-wrap: wrap;
  }
  .advice{
    width: 330px;
  }
  .advice{
    width: 330px;
  }
  .advice p{
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    line-height: 140%;
  }
  .advice:nth-child(odd){
    margin-right: 30px;
  }
  .do-u-know{
    display: flex;
  }
  .do-u-know-block{
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .do-u-know img{
    height: 25px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .do-u-know h3{
    font-size: 30px;
    line-height: 140%;
    margin: 0;
  }
  .do-u-know-block ul{
    font-size: 16px;
    padding-left: 20px;
    line-height: 150%;
    margin: 0 0 0 0;
  }
  .do-u-know-block li{
    font-size: 16px;
    line-height: 150%;
    margin: 20px 0 0 0;
  }
  .do-u-know-block li::marker{
    height: 7px;
    width: 7px;
    color:#DF1E18;
  }
  .navigation{
    display: inherit;
  }
  .art ul{
    min-height: 100px;
  }
  .art{
    height: 220px;
  }



  .spray-title-prod{
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: MetaPro;
    font-weight: 700;
    font-size: 32px;
    line-height: 55px;
    color: #435363;
  }
  .spray-info-prod{
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 24px;
    padding-left: 25px;
    color: #20384E;
    width: 260px;
    margin: 0;
  }
  .spray-info-prod li{

    margin-bottom: 30px;
  }
  .spray-info-prod li::marker{
    height: 10px;
    width: 10px;
    color:  #CE2424;
  }
  .checked-img img{
    margin-right: 13px;
    width: 60px;
    height: 60px;
  }
  .srpay-photo-prod{
    height: 292px;
    width: 249px;
    margin-left: 45px;
    margin-top: 90px;
  }
  .head-images-spray-prod{
    margin: 0;
    height: 292px;
  }
  .total-action-prod{
    height: 107px;
    width: 96px;
    left: 250px;
    top:20px;
    position: absolute;
    animation: rotate_logo 0s none;
  }
  .page-content-prod{
    display: flex;
    margin-top: 120px;
    margin-left: 0px;
    color: #20384E;
  }
  .head-text-spray-prod{
    margin-left: 0px;
    height: 200px;
  }
  .head-prod-container{
    margin-left: 0;
  }


  .pills-photo-prod{
    height: 283px;
    width: 306px;
    margin-top: 90px;
    margin-left: 0px;
  }
  .pills-force{
    position: absolute;
    top: 290px;
    left: 253px;
    width: 205px;
    height: 157px;}

  .table-img{
    height: 210px;
    width: 160px;
  }

  .for-kids-block{
    position: relative;
    margin-top: 250px;
    width: 668px;
    height: 1275px;
    background-image: url('/dist/assets/img/block-bg-768.svg');
    border-radius: 10px;
  }
  .kids-cont{
    width: 508px;
    margin: auto;
  }
  .every-mom{
    margin-top: 30px;
    display: block;
  }
  .every-mom p{
    margin-top: 30px;
    font-size: 20px;
    line-height: 140%;
    font-weight: 700;

  }
  .cens{
    height:59px;
    position: absolute;
    top:20px;
    right: 20px;
  }
  .main-info p{
    margin: 0 0 20px 0;
    font-size: 20px;
    line-height: 140%;
    font-weight: 700;
  }
  .main-info ul{
    font-size: 16px;
    line-height: 140%;
  }
  .main-info li::marker{
    width: 7px;
    height: 7px;
    color:#DF1E18;
  }

  .kids-ins-block{
    margin: auto;
    width: 508px;
    margin-top: 60px;
    display: flex;
  }
  .uls-list{
    display: flex;
  }
  .kids-img{
  display: none;
  }
  .not-inside{
    margin-top:40px;
  }
  .footnote{
    width: 508px;
    margin: auto;
    font-size: 16px;
    line-height: 140%;
  }
  .footnote p{
    margin-top: 40px;
  }









  .cookie{
    position:fixed;
    width: 100%;
    height: 293px;
    bottom: 0;
    left: 0;
    z-index: 10000;
    background: #FFFFFF;
    .container{
      margin-top: 20px;
      margin-bottom: 30px;
    }
    h2{
      font-size: 20px;
      line-height: 24px;
      color: #20384E;
    }
    p{
      font-size: 14px;
      line-height: 20px;
      color: #65788A;
    }
    a{
      font-size: 14px;
      line-height: 20px;
      color: #20384E;
      text-decoration: none;
    }
    a:hover{
      color: #20384E;
    }
    a:hover path{
      fill: #20384E;
    }
    .cookie-ins{
      display: flex;

    }

  }
  .cookie-btn{
    justify-content: center;
    margin-top: 120px;
    margin-left: 20px;
    font-size: 16px;
    border: 0;
    display: flex;
    height: 50px;
    width: 185px;
    background:  linear-gradient(89.62deg, #00CDFA 0.25%, #00BEE8 99.67%);
    border-radius: 50px;
    a{
      padding: 13px 30px 13px 30px;
      display: flex;
      width: 125px;
      color: #FFFFFF !important;
      font-family: MetaPro;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none;
    }
    :hover{
      background: linear-gradient(89.62deg, #00CDFA 0.25%, #00BEE8 99.67%);
      border-radius: 50px;
    }
  }




















  .back-to svg{
    transform: rotate(180deg);
    margin: 10px 10px 0 0;
  }
  .back-to{
    width: 345px;
    display: flex;
    flex-direction: row;
  }
  .back-to:hover{
    cursor: pointer;
    color: #45B3F1;
  }
  .back-to:hover path{
    fill:#45B3F1;
  }
  .back-to p{
    margin-top: 0;
  }


  .soc-webs{
    display: flex;
  }
  .soc-webs a{
    height: 29px;
    margin-left: 10px;
  }
  .soc-webs p{
    margin-top: 0;
    width: 216px;
  }
  .bg-cont{z-index: -100;}
  .bg-cont-prod{z-index: -100;}




}
