#modal-cookies
  .cookie
    .container
      .cookie-ins
        div
          h2='Политика Coockie'
          p='Для оптимизации работы нашего сайта и его постоянного обновления «ООО КРКА ФАРМА» использует Cookies. (Cookies) Продолжая пользоваться нашим сайтом, Вы соглашаетесь на использование Cookies и вышеуказанной услуги для вышеуказанных целей. Cookies - это небольшие файлы, которые хранятся на жестком диске Вашего устройства. Они облегчают навигацию и делают посещение сайта более удобным.'
          div
            a(href='/')='Для получения более подробной информации см. раздел "Cookies".'
              svg(width="34" height="8" viewBox="0 0 34 8" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M32.9592 3.61777L29.47 0.158303C29.2572 -0.0527676 28.9119 -0.0527676 28.699 0.158303C28.4861 0.369417 28.4861 0.711644 28.699 0.922758L31.2575 3.45945L0.545175 3.45945C0.244108 3.45945 0 3.70149 0 3.99999C0 4.29846 0.244108 4.54054 0.545175 4.54054L31.2575 4.54054L28.6991 7.07723C28.4862 7.28835 28.4862 7.63057 28.6991 7.84169C28.8055 7.94716 28.9451 8 29.0846 8C29.2241 8 29.3637 7.94716 29.4701 7.84169L32.9592 4.38222C33.1721 4.17111 33.1721 3.82888 32.9592 3.61777Z" fill="#20384E")
        .cookie-btn
          a(href='/')='Хорошо, закрыть'
