svg(width="44" height="34" viewBox="0 0 44 34" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M1.68812 14.4616H41.5277C42.3825 14.4616 43.1158 15.3678 43.1158 16.5424C43.1158 17.717 42.3825 18.6232 41.5277 18.6232H1.68812C0.833308 18.6232 0.1 17.717 0.1 16.5424C0.1 15.3678 0.833308 14.4616 1.68812 14.4616Z" fill="#131313" stroke="#131313" stroke-width="0.2")
    path(d="M1.68812 0.1H41.5277C42.3825 0.1 43.1158 1.00625 43.1158 2.18082C43.1158 3.35539 42.3825 4.26164 41.5277 4.26164H1.68812C0.833308 4.26164 0.1 3.35539 0.1 2.18082C0.1 1.00625 0.833308 0.1 1.68812 0.1Z" fill="#131313" stroke="#131313" stroke-width="0.2")
    path(d="M1.68812 28.8231H41.5277C42.3825 28.8231 43.1158 29.7294 43.1158 30.904C43.1158 32.0785 42.3825 32.9848 41.5277 32.9848H1.68812C0.833308 32.9848 0.1 32.0785 0.1 30.904C0.1 29.7294 0.833308 28.8231 1.68812 28.8231Z" fill="#131313" stroke="#131313" stroke-width="0.2")

