svg(width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg")
    g(clip-path="url(#clip9423)")
    path(d="M18.6413 12.9428L17.0882 11.3897L10.0993 4.40111C8.81124 3.12271 6.73208 3.12657 5.44885 4.40979C4.16563 5.69301 4.16177 7.77218 5.44017 9.06022L12.4288 16.0509C12.7146 16.3369 13.1782 16.3369 13.4642 16.0509C13.7501 15.7649 13.7501 15.3014 13.4642 15.0154L6.47566 8.02474C5.7609 7.30998 5.7609 6.15135 6.47566 5.43659C7.19042 4.72184 8.34904 4.72184 9.0638 5.43659L16.0545 12.4252L17.6076 13.9782C18.8944 15.2654 18.8939 17.352 17.6068 18.6386C16.3196 19.9252 14.2332 19.9248 12.9464 18.6376L11.6524 17.3431L4.40485 10.0955L3.88703 9.57788C2.07714 7.71141 2.10013 4.73791 3.93847 2.89941C5.77697 1.06107 8.75047 1.03808 10.6169 2.84797L18.3822 10.6134C18.5672 10.7982 18.8368 10.8704 19.0894 10.8027C19.3421 10.7351 19.5395 10.5378 19.6072 10.2851C19.6749 10.0324 19.6026 9.76292 19.4177 9.57788L11.6524 1.81264C9.22055 -0.608148 5.28809 -0.603646 2.86183 1.82277C0.435416 4.24903 0.430915 8.18148 2.85171 10.6134L10.6169 18.3786L11.9129 19.6731C13.7818 21.4682 16.7435 21.4383 18.5756 19.6056C20.4078 17.773 20.4369 14.8112 18.6413 12.9428Z" fill="#131313")
    defs
        clipPath(id="clip9423")
            rect(width="21" height="21" fill="white")
