svg(width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M5.02767 4.50235L8.88561 0.644412C9.03451 0.500607 9.03863 0.263333 8.89483 0.114433C8.75102 -0.0344666 8.51375 -0.0385954 8.36485 0.10521C8.36173 0.108218 8.35866 0.111293 8.35563 0.114433L4.49767 3.97237L0.639727 0.114411C0.490827 -0.0293935 0.253553 -0.0252647 0.109748 0.123635C-0.0305432 0.26889 -0.0305432 0.499158 0.109748 0.644412L3.96769 4.50235L0.109748 8.36029C-0.0365826 8.50664 -0.0365826 8.74392 0.109748 8.89027C0.2561 9.03658 0.493374 9.03658 0.639727 8.89027L4.49767 5.03233L8.35561 8.89027C8.50451 9.03407 8.74178 9.02995 8.88558 8.88105C9.02585 8.73579 9.02585 8.50552 8.88558 8.36029L5.02767 4.50235Z" fill="#DE4300")

