svg(width="26" height="7" viewBox="0 0 26 7" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M25.8687 2.99928L23.0007 0.13124C22.8257 -0.0437466 22.5419 -0.0437466 22.3669 0.13124C22.1919 0.306262 22.1919 0.589984 22.3669 0.765006L24.4699 2.86804H0.448132C0.200656 2.86804 0 3.06869 0 3.31617C0 3.56361 0.200656 3.7643 0.448132 3.7643H24.4699L22.367 5.86733C22.192 6.04235 22.192 6.32607 22.367 6.50109C22.4544 6.58853 22.5692 6.63234 22.6839 6.63234C22.7985 6.63234 22.9132 6.58853 23.0007 6.50109L25.8687 3.63305C26.0438 3.45803 26.0438 3.17431 25.8687 2.99928Z" fill="#B4B4B4")

