svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M14.5711 2.05069C14.3504 1.82964 13.9924 1.82926 13.7717 2.04975L6.98968 8.81387L4.54274 6.15626C4.33131 5.92675 3.97383 5.91187 3.74393 6.12328C3.51422 6.33471 3.49951 6.69237 3.71094 6.92208L6.55643 10.0123C6.66064 10.1256 6.80648 10.1914 6.96026 10.1946C6.96439 10.1948 6.96838 10.1948 6.97233 10.1948C7.12177 10.1948 7.26553 10.1354 7.37144 10.0299L14.5699 2.85023C14.7912 2.62977 14.7915 2.27173 14.5711 2.05069Z" fill="#00BE85")
    path(d="M14.4347 6.93466C14.1224 6.93466 13.8693 7.18772 13.8693 7.5C13.8693 11.0122 11.0122 13.8693 7.5 13.8693C3.98801 13.8693 1.13065 11.0122 1.13065 7.5C1.13065 3.98801 3.98801 1.13065 7.5 1.13065C7.81225 1.13065 8.06534 0.877588 8.06534 0.565342C8.06534 0.253066 7.81225 0 7.5 0C3.36445 0 0 3.36445 0 7.5C0 11.6354 3.36445 15 7.5 15C11.6354 15 15 11.6354 15 7.5C15 7.18775 14.7469 6.93466 14.4347 6.93466Z" fill="#00BE85")

