svg(width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg")
    rect(width="27" height="27" rx="8" fill="white")
    circle(cx="13.5004" cy="13.5" r="7.32857" fill="#383838")
    circle(cx="13.5006" cy="13.5001" r="5.78571" fill="white")
    circle(cx="21.6015" cy="5.39979" r="1.54286" fill="#383838")

