svg(width="15" height="31" viewBox="0 0 15 31" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M12.2615 5.14729H15V0.218292C14.5275 0.151125 12.9027 0 11.0103 0C7.06191 0 4.35714 2.56654 4.35714 7.28371V11.625H0V17.1353H4.35714V31H9.69919V17.1365H13.8801L14.5438 11.6263H9.69794V7.83008C9.69919 6.23746 10.1142 5.14729 12.2615 5.14729Z" fill="white")

