svg(width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
    rect(x="0.0625" y="9.28116" width="6.43768" height="6.43768" fill="#B4B4B4")
    rect(x="0.0625" y="0.268402" width="6.43768" height="6.43768" fill="#B4B4B4")
    rect(x="7.79004" y="0.268402" width="16.738" height="6.43768" fill="#B4B4B4")
    rect(x="7.79004" y="9.28116" width="16.738" height="6.43768" fill="#B4B4B4")
    rect(x="7.79004" y="18.2939" width="16.738" height="6.43768" fill="#B4B4B4")
    rect(x="0.0625" y="18.2939" width="6.43768" height="6.43768" fill="#B4B4B4")