svg(width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
    rect(y="0.268402" width="11.5878" height="11.5878" fill="#B4B4B4")
    rect(x="12.874" y="0.268402" width="11.5878" height="11.5878" fill="#B4B4B4")
    rect(y="13.1437" width="11.5878" height="11.5878" fill="#B4B4B4")
    rect(x="12.874" y="13.1437" width="11.5878" height="11.5878" fill="#B4B4B4")