extends ../layout/main
block variables
    - var title = 'Septolete';
    - var description = 'Septoleteы';
    - var bodyclass = 'main';


block css
    each css in htmlWebpackPlugin.files.css
        link(href=css, rel='stylesheet')
block script
    each js in htmlWebpackPlugin.files.js
        script(type='text/javascript', src=js)


block content
  
