@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
body{
  padding-top: 90px;
  margin: 0;
  font-family: MetaPro;
  font-size: 14px;
  line-height: 20px;
  overflow-x: hidden;
  position: relative;
}
header {
  height: 90px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 16px;
  color:#20384E;
  margin-top: 0;
  margin-bottom: 0;
  font-family: MetaPro;
  z-index: 100;

}
footer{
  font-size: 16px;
  color:#20384E;
  margin-top: 0;
  margin-bottom: 0;
  font-family: MetaPro;
}







.header-scroll-top{
  position: fixed;
  top:-90px;
  left:0;
  transition-duration: .3s;
}
.header-scroll{
  background: white;
}
.menu_button_mobile{
  display: none;
}
.container{
  display: flex;
  width:1420px;
  margin: auto;
}
.arrow{
  width: 6px;
  height: 9px;
  margin-left: 5px;

}
.menu-mobile{
  display: none;
}
.menu{
  text-align: center;
  font-family: MetaPro;
  color: #20384E;
  font-size: 16px;
  margin-right: 40px;
}
.logo{
  height: 40px;
  width: 159px;
  margin-right: 80px;
  margin-top: 25px;
}
.button{
  position:relative;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 55px;
  font-size: 16px;
  border: 0;
  height: 50px;
  width: 112px;

  border-radius: 50px;
}
.button a{
  margin: 13px 20px 13px 20px;
  display: flex;
  width: 72px;
  color: #FFFFFF;
  font-family: MetaPro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.slogan{
  font-family: MetaPro;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  margin-left: 87.5px;
  margin-top: 23px;
  margin-bottom: 33px;
  width: 233px;
  height: 44px;
}
.point{
  height: 5px;
  margin-right: 5px;
  margin-left: 5px;
}
.lang{
  color:#758A9D;
  margin-left: 87.5px;
  align-items:center;
  margin-top: 33px;
  margin-bottom: 33px;
  height: 24px;
  font-size: 16px;
  display: flex
}
.lang a:link{
  color:#758A9D;
  text-decoration: none;
}
.lang a:visited{
  color:#758A9D;
  text-decoration: none;
}

.lang a:active{
  color:#20384E;
}
.topmenu{
  position: relative;
  padding: 0;
  margin-top: 33px;
  margin-bottom: 33px;
  display: flex;
  height: 24px;
}
.menu{
  position: relative;
}


.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li > a {
  position: relative;
  padding: 10px 15px;
  line-height: 24px;
  letter-spacing: 3px;
}


.submenu {
  list-style-type:none;
  position: absolute;
  z-index: 4;
  left:50%;
  top: 100%;
  width: 230px;
  padding: 5px 0 15px 20px;
  margin-top: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 25px rgba(0,0,0,.06);
  box-sizing: border-box;
  visibility: hidden;
  text-align: left;
  opacity: 0;
  font-size: 16px;
  line-height: 24px;
  transform: translate(-50%, 20px);
  transition: .3s;
  li{
    margin-top: 10px;
  }

}
.company-prods{

   left:70%;
}
.use-info{

   left:65%;
}
.prod-instruction{

  left:110%;
}

.submenu a {
  color:#20384E;
  text-decoration: none;
  transition: .3s linear;
}

.prod{
  width: 156px;
}
.info{
  width: 177px;
}
.set{
  width: 97px;
}


















.footer{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(269.9deg, #F4FBFF 12.37%, #DDF3FF 96.14%);
}
.footer-container{
  width: 1420px;
  margin: auto;
}
.infoblock{
  background-color: #003B5C;
  color: #82BDDE;
  font-size: 24px;
  line-height: 20px;
  height: 38px;
  width: 100%;
  text-align: center;
}
.infoblock p{
  text-transform: uppercase;
  font-weight: 400;
  font-family: MetaPro;
  margin: 0 0 0 0;
  padding-top: 9px;
}
.main-container{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}
.our-site{
  margin: 0 0 13px 0;
  width: 150px;
  text-decoration: none;
  font-family: MetaPro;
  color: #20384E;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.law-info{
  margin: 0;
  width: 370px;
  font-family: MetaPro;
  color: #20384E;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.all-right-reserved{
  margin: 0 0 -15px 0;
  width: 230px;
  font-family: MetaPro;
  color: #20384E;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.footer-information{
 margin-right: 30px;
 div{
   margin-top: 13px;
   margin-bottom: 30px;
 }
}
.footer-link{
  margin-left: 30px;
  text-decoration: none;
  font-family: MetaPro;
  color: #20384E;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.articles-footer{
  display: none;
}
.law-footer{
  display: none;
}
.buy-footer{
  display: none;
}
.contancts-footer{
  display: none;
}
.confidential-footer{
  display: none;
}
.all-right-reserved-mobile{
  display: none;
}
.afteruses-footer{
  display: none;
}

.footer-warn{
  margin-left: 30px;
  font-family: MetaPro;
  font-size: 14px;
  line-height: 140%;
  color: #20384E;
}
.footer-logo{
  position: absolute;
  right: 0;
  top: calc(50% - 24px);
}
.mixin-interesting-block{
  height: 645px;
  width: 100%;
  background: linear-gradient(269.9deg, #F4FBFF 12.37%, #DDF3FF 96.14%);
}
.mixin-interesting-block .container{
  flex-direction: column;
}
.interesting{
  margin:80px 0px 44px 0px;
  width: 277px;
  font-family: MetaPro;
  color: #20384E;
  font-weight: 700;
  font-size: 36px;
  line-height: 55px;
}
.interesting-text{
  display: flex;
  font-size: 16px;
  line-height: 24px;
}
.all-articles{
  margin: 95px 0px 76px 1029px;
  height: 24px;
  color: #20384E;
  text-decoration: none;
}

.long-arrow{
  margin-left: 10px;
  height: 8px;
}
.sometxt{
  margin: 0;
  font-family: MetaPro;
  padding: 6px 12px 6px 12px;
  color: #20384E;
  font-size: 16px;
  line-height: 100%;
  background-color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 20px;
}
.img-container{
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  color: white;
  text-decoration: none;
  overflow: hidden;
  border-radius: 5px;
  transition-duration: .1s;
  width: 325px;
  height: 236px;
}

.not-move{
  height: 250px;
}

.articles{
  margin-bottom: 10px;
}
.undertext{
  font-size: 16px;
  line-height: 140%;
  width: 325px;
  color: #435363;
  margin: 0 0 0 0;
}
.hidden-undertext{
  position: absolute;
  top:220px;
  left: 0;
  display: flex;
  opacity: 0;
  height: 1px;
  font-size: 16px;
  line-height: 140%;
  color: #435363;


}
.hidden-undertext path{
  fill: #45B3F1;;
}

.item-container a{
  color: #435363;
  text-decoration: none;
}








.breadcrumbs{
  padding-bottom: 20px;
  padding-top: -23px;
}
.breadcrumbs-item {
  text-decoration-line: none;
  color: #D6D9DD;
}
.breadcrumbs-arrow {
  color: #D6D9DD;
  height: 17px;
  width: 8px;
  padding: 0 5px;
}
.breadcrumbs {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.owl-prev{
  opacity: 0;
  transition-duration: .3s;
  right:-50px;
  top: 40%;
  position: absolute;
}
.owl-prev:focus {
    outline: none;
}
.owl-next:focus {
    outline: none;
}

.owl-next{
  opacity: 0;
  transition-duration: .3s;
  left:-50px;
  top: 40%;
  position: absolute;

}
















.head-block .container {
  flex-direction:column;
  position: relative;
}
.head-block .container {
  flex-direction:column;
  position: relative;
}
.head-block{
  padding-top: 90px;
  margin-top: -90px;
}
.ankers{
  padding: 0;
  margin: 0;
  width: 529px;
  height: 140px;
  margin-bottom: 129px;

}
.sposob
{

}
.ankers li{
  display: inline-block;
}
.ankers a{
  margin-right: 20px;
  margin-bottom: 20px;
  color: #125490;
  display: block;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
}
.button-spray-instruction{
  margin-top: 30px;
  margin-bottom: 70px;
  display: flex;
  margin-bottom: 70px;
  justify-content: center;
  font-size: 16px;
  border: 0;
  height: 50px;
  width: 260px;
  background: linear-gradient(89.62deg, #00CDFA 0.25%, #00BEE8 99.67%);
  border-radius: 50px;
}
.button-spray-instruction a{
  padding: 15px 20px 15px 20px;
  color: #FFFFFF;
  font-family: MetaPro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.spray-title{
  margin-top: 100px;
  margin-bottom: 30px;
  font-family: MetaPro;
  font-weight: 700;
  font-size: 36px;
  line-height: 55px;
  color: #20384E;
}
.spray-info{
  margin:0 0 10px 0;
  font-size: 16px;
  line-height: 150%;
  color: #435363;
}
.head-container{
  display: flex;
}
.block-scroll{
  overflow: hidden;
}
.head-text-spray{
  margin-left: 90.5px;
}
.total-action{
  height: 126px;
  width: 138px;
  top:-40px;
  position: absolute;
  margin-left: 20px;
  animation: rotate_logo 4s infinite;
  transition-timing-function: cubic-bezier(0, 4.9, 0, 0.06)
}
.total-action.total-main{
  top:133px;
  margin: 0;
  left: 38%;
}
.srpay-photo{
  height: 460px;
  width: 391px;
}
.pills-photo{

}
.head-images-spray{
  position: relative;
  margin-top: 137px;
  margin-left: 160px;
}
.cross{
  z-index: -7;
  position: absolute;
  right: calc(50% - 1050px);
  top: calc(50% - 105px);
}
.page-text{
  width: 690px;
}
.page-content{
  display: flex;
  margin-top: 120px;
  margin-left: 90.5px;
  color: #20384E;
}
.page-nav{
  padding: 30px 20px 30px 30px;
  color: #125491;
  position:sticky;
  right: 393px;
  top:180px;
  width: 275px;
  height: 300px;
  margin-left: 150px;
  background: #F2FAFF;
  border-radius: 10px;
  margin-bottom: 150px;

}
.page-nav a{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #125491;
  text-decoration-line: underline;
}

.page-nav ul{
  padding: 0 5px 0 17px;
  min-height: 300px;
}
.page-nav li{
  margin-bottom: 20px;

}
.page-text h2{
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin: 0 0 20px 0;
}
.new_article_transitions_block{
  overflow: auto;
  height: 100%;
}
.page-text p{
  color: #435363;
  margin-top: 0;

  font-size: 16px;
  line-height: 150%;
}
.page-text h1{
  margin: 0px 0 70px 0;
}
.page-text ul{
  padding-left: 17px;
  margin-bottom: 50px;
  list-style: none;
  font-size: 16px;
  line-height: 150%;
}
.page-text h3{
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  margin:0 0 20px 0;
}
.page-text li{
  position: relative;
  margin-bottom: 20px;
}
.page-text li:before{
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #20384E;
  left: -17px;
  top: 9px;
}
.finished-text{
  margin-bottom: 50px;
}
.finished-page{
  margin-bottom: 150px;
}
.upstairs{
  z-index: 100000;
  position:sticky;
  left: 1850px;
  top: 800px;
  width: 18px;
  height: 50px;
  margin-right: -120px;
  margin-bottom: 120px;

}
#scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #E4EEF4;
  border-radius:5px;
}
#scrollbar::-webkit-scrollbar-thumb{
  background-color: #45B3F1;
  border-radius:5px;
}
.mobile-block-always{display: none;}




.anim-bg-img{
  position: absolute;
}
.razm{
  background: #F5FCFF !important;
  position: absolute;
  left: 0;
  top: 0;
  width:100%;
  z-index: -100500;
}
.background-mixin{

  filter: blur(50px);
  position: relative;
  top: 0;
  left: 0;
  z-index: -100501;
}
.bg-bg{
  position: absolute;
  width: 100%;
  height: 100000px;
  background: #F5FCFF !important;
  z-index: -100502;
}
.el1{
  display: none;
  top: 220px;
  left: 543px;
}
.el2{
  right: -73px;
  top:598px;
}
.el3{
  transform: rotate(-24.94deg);
  left: 102px;
  top:410px;
}
.el4{
  left: 139px;
  top:475px;
}
.el5{
  transform: rotate(31.04deg);
  right: 71px;
  top:417px;
}
.el6{
  top:78px;
  left:668px;
  transform: rotate(36.06deg);
}
.el7{
  top:612px;
  left:173px;
}
.el8{
  top:461px;
  left:-15px;
}
.el9{
  transform: rotate(-19.82deg);
  top:390px;
  left:63px;
}
.el10{
  top:516px;
  left:316px;
}
.el11{
  top:619px;
  right: 305px;
  transform: rotate(150deg);
}
.el12{
  top:15px;
  left: 481px;
}
.el13{
  transform: rotate(150deg);
  top:538px;
  right: 81px;
}
.el14{
  top: 270px;
  right: 273px;
}
.razm-320{
  display: none;
}
.razm-768 {
  display: none;
}











.container-404{
  width: 882px;

  display: flex;
  margin: auto;
  overflow: hidden;
}

.page-404 h1{
  margin-top: 150px;
  font-size: 54px;
  line-height: 55px;
  color: #20384E;
  margin-bottom: 30px;
}
.page-404-text{
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  width: 478px;
  color: #20384E;
  margin-bottom: 50px;
}
.btn-404{
  position: relative;
  justify-content: center;
  font-size: 16px;
  border: 0;
  height: 50px;
  width: 280px;
  border-radius: 50px;
}
.btn-404 a{
  padding: 15px 25px 15px 25px;
  display: flex;
  width: 230px;
  color: #FFFFFF;
  font-family: MetaPro;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.btn-blue::after{
  top: 0;
  left: 0;
  content: '';
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(89.62deg, #00CDFA 0.25%, #00BEE8 99.67%);
}
.btn-blue::before{
  transition-duration: .3s;
  opacity: 0;
  top: 0;
  left: 0;
  content: '';
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(90.27deg, #007994 0.24%, #00C1EC 99.76%);
}


.btn-red::after{
  top: 0;
  left: 0;
  content: '';
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background:  linear-gradient(180deg, #CE2424 0%, #FF0000 100%);
}
.btn-red::before{
  transition-duration: .3s;
  opacity: 0;
  top: 0;
  left: 0;
  content: '';
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(90deg, #620000 0%, #D60000 100%);
}


.img-404 img{
  margin-bottom: -5px;
  margin-top: 0px;
  width: 409,14px ;
  height: 600;
}








.breadcrumbs-block{
  margin-top: -25px;
}
.atrlicles-content{
  margin-top: 110px;
}
.atrlicles-content h1{
  font-size: 54px;
  line-height: 55px;
  margin: 0;
  color: #20384E;
}
.articles-a-lot{
  display: grid;
  grid-template-columns: 365px 365px 365px 365px;
}
.grid-elem{
  margin-bottom: 90px;
  position: relative;
}
.dropdown{
  position: relative;
  width: 325px;
  margin-top:100px;
  margin-bottom: 50px;
}
.dropdown-btn{
  width: 325px;
  height: 71px;
  background: rgba(69, 179, 241, 0.05);
  border: 1px solid rgba(69, 179, 241, 0.1);
  border-radius: 5px;
  display: flex;
}
.dropdown-btn span{
  padding: 25px 0px 26px 30px;
  font-family: MetaPro;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #65788A;
  height: 20px;
  display: flex;
}
.dropdown-btn svg{
  padding: 31px 30px 31px 30px;
}
.dropdown-btn path{
  transform-origin: center center;
  transform: rotate(180deg);
}

.dropdown-list{
  margin-top:10px;
  position: absolute;
  width: 325px;
  height: 148px;
  background: #FFFFFF;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  top:80%;
  z-index: 50;
  opacity: 0;
}


.dropdown-list div{
  padding: 10px 0 10px 0;


}
.dropdown-link{
  font-size: 16px;
  line-height: 100%;
  color: #20384E;
  margin: 20px 0 20px 30px;
}

.more-articles-btn{
  margin: -20px 0px 150px 641px;
  width: 157px;
  height: 50px;
  background: linear-gradient(89.62deg, #00CDFA 0.25%, #00BEE8 99.67%);
  border-radius: 50px;
}

.more-articles-btn p{
  margin: 0;
  padding: 15px 30px 15px 30px;
  font-family: MetaPro;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  height: 20px;
  display: flex;
}
.more-grid-elem{
  display:none;
}
.btn-text{
  width: 248px;
}
.selector{
  position: absolute;
  opacity: 0;
}
.grid-elem .hidden-undertext{
  position: absolute;
  top: 220px;
}




.page-content-article-name{
  color: #435363;
  display: flex;
  margin-top: 100px;
  width: 772px;
}
.page-content-article-name h1{
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 55px;
}
.page-content-article-name h2{
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  margin-top: 100px;
  margin-bottom: 10px;
}
.page-text-article-name{
  width: 690px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 82px;
}
.illnes{
  height: 400px;
  width: 690px;
  margin-bottom: 100px;
  border-radius: 5px;
}
.insimg{
  height: 400px;
  width: 690px;
  margin-bottom: 100px;
  margin-top:50px;
  border-radius: 5px;
}
.page-text-article-name h3{
  font-size: 32px;
  line-height: 140%;
  margin-top: 50px;
  margin-bottom: 10px;
}
.page-text-article-name p{
  margin: 20px 0 0 0;
  font-size: 16px;
  line-height: 150%;
}
.page-text-article-name ul{
  margin-top: 20px;
  font-size: 16px;
  line-height: 150%;
}
.page-text-article-name ul li{
  margin-bottom: 15px;
}
.block-total {
  margin-top: 35px;
  display: flex;
}
.ill{
  width: 348px;
}
.ill p{
  margin: 13px 0 0 0;
  font-size: 16px;
  line-height: 140%;
  color: #DF1E18;
}
.block-total .point{
  padding-top: 20px;
  margin: 0 20px 0 20px;
  font-size: 16px;
  line-height: 140%;
  color: #DF1E18;
}
.block-total h2{
  color: #45B3F1;
  font-size: 24px;
  line-height: 140%;
  margin: 0;
}
.block-total h3{
  margin: 0 0 7px 0;
}
.causes-ins{
  display:flex;
}
.causes-effects-ins{
  display: flex;
  flex-wrap: wrap;
}
.causes{
  margin-top: 40px;
}
.causes-effects{
  margin-top: 50px;
}
.ad h2{
  margin-left: 67px;
}
.ad-ins{
  margin-top: 73px;
  margin-left: 66px;
}
.ad-ins p{
  margin: 20px 0 0 0;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  width: 224px;
  color: #435363;
}
.ad-ins img{
  margin-left: 66px;
}
.interesting-fact{
  display: flex;
}
.interesting-fact-block{
  margin-bottom: 30px;
  margin-top: 100px;
}
.interesting-fact img{
  height: 25px;
  margin-top: 10px;
  margin-right: 10px;
}
.interesting-fact h3{
  font-size: 30px;
  line-height: 140%;
  margin: 0;
}
.interesting-fact-block p{
  font-weight: 700;
  font-size: 24px;
  line-height: 33.6px;
  color: #DF1E18;
  margin: 30px 0 0 35px;
}
.gerbion{
  margin-top: 50px;
  display: flex;
  border: solid 1px;
  border-color: #2bd150;
  border-radius: 5px;
}
.gerb-block{
  margin: 15px 0 15px 30px;
}
.gerb-text h4{
  margin: 0 0 0 0;
  width: 278px;
  font-size: 24px;
  line-height: 140%;
  color: #1E8936;
}
.gerb-text {
  margin: 42px 0 0 72px;
}
.gerb-btn p{
  width: 90px;
  height: 20px;
  padding: 15px 30px 15px 30px;
  margin: 0 0 0 0;
  font-size: 14px;
  line-height: 20px;
  color: #1E8936;
}
.gerb-btn {
  margin-top: 20px;
  width: 150px;
  height: 50px;
  border: solid 1px;
  border-radius: 50px;
  border-color: #1E8936;
}
.red-txt{
  color: #DF1E18;
}
.advices{
  display: flex;
  flex-wrap: wrap;
}
.advice{
  width: 330px;
}
.advice{
  width: 330px;
}
.advice p{
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  line-height: 140%;
}
.advice:nth-child(odd){
  margin-right: 30px;
}
.do-u-know{
  display: flex;
}
.do-u-know-block{
  margin-bottom: 100px;
  margin-top: 100px;
}
.do-u-know img{
  height: 25px;
  margin-top: 10px;
  margin-right: 10px;
}
.do-u-know h3{
  font-size: 30px;
  line-height: 140%;
  margin: 0;
}
.do-u-know-block ul{
  font-size: 16px;
  padding-left: 20px;
  line-height: 150%;
  margin: 0 0 0 0;
}
.do-u-know-block li{
  font-size: 16px;
  line-height: 150%;
  margin: 20px 0 0 0;
}
.do-u-know-block li::marker{
  height: 7px;
  width: 7px;
  color:#DF1E18;
}
.navigation{
  display: flex;
}
.art ul{
  min-height: 100px;
}
.art{
  height: 195px;
}

.back-to svg{
  transform: rotate(180deg);
  margin: 10px 10px 0 0;
}
.back-to{
  width: 345px;
  display: flex;
  flex-direction: row;
}

.back-to p{
  margin-top: 0;
}


.soc-webs{
  display: flex;
}
.soc-webs a{
  height: 29px;
  margin-left: 10px;
}
.soc-webs p{
  margin-top: 0;
  width: 216px;
}



.products{
  font-size: 14px;
  line-height: 140%;
  color: #20384E;
  height: 92px;
  max-width: 252px;
  background-color: transparentize(#F2FAFF, 0.5);
  border-radius: 10px;
  box-sizing: border-box;
}

.products:active{
  border: 1px solid #45B3F1;
  border-radius: 10px;
}
.products:active .prod-container{
  padding: 14px 14px 14px 14px;
}
.prod-container{
  padding: 15px 15px 15px 15px;
  display: flex;
}
.text-prod{
  height: 60px;
  width: 124px;
}
.text-prod p{
  width: 124px;
  margin: 0 0 0 12px;
}
.map{
  margin-top: 50px;
  width: 100%;
  height: 550px;
  background-color: #C4C4C4;
}
.where-to-buy-content{
  margin: 100px 0 150px 0;
}
.where-to-buy{
  width: 100%;
  margin-top: 200px;
}
.where-to-buy h1{
  margin:0;
  font-size: 54px;
  line-height: 55px;
  color: #20384E;
}
.prods-line{
  margin-top: 30px;
  height: 92px;
  width: 100%;
}
.where-to-buy-txt{
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #435363;
}
.map h2{
  position: relative;
  top: 43%;
  left:43%;
  font-size: 54px;
  line-height: 55px;
  color: #20384E;
}



.head-block .container {
  flex-direction:column;
  position: relative;
}
.head-block{
  padding-top: 90px;
  margin-top: -90px;
}
.spray-title-prod{
  margin-top: 70px;
  margin-bottom: 30px;
  font-family: MetaPro;
  font-weight: 700;
  font-size: 36px;
  line-height: 55px;
  color: #20384E;
}
.spray-info-prod{
  font-weight: 700;
  margin-bottom: 60px;
  font-size: 24px;
  line-height: 24px;
  padding-left: 25px;
  color: #20384E;
}
.spray-info-prod li{
  margin-bottom: 40px;
}
.spray-info-prod li::marker{
  height: 13px;
  width: 13px;
  color:  #CE2424;
}
.head-prod-container{
  display: flex;

  margin-left: 90.5px;
}
.block-scroll{
  overflow: hidden;
}
.head-text-spray-prod{
  margin-left: 0px;
}
.total-action-prod{
  height: 126px;
  width: 138px;
  left:-120px;
  top: calc(20% + 25px);
  position: absolute;

  animation: rotate_logo 4s infinite;
  transition-timing-function: cubic-bezier(0, 4.9, 0, 0.06)
}
.srpay-photo-prod{
  height: 465px;
  width: 387px;
  margin-top: -50px;
  margin-left: 110px;
}
.head-images-spray-prod{
  position: relative;
  margin-top: 137px;
  margin-left: 160px;
}
.checked-img{
  display: flex;
  margin-top: 0;
}

.page-text-prod{
  width: 690px;
}
.page-content-prod{
  display: flex;
  margin-top: 120px;
  margin-left: 90.5px;
  color: #20384E;
}
.unic-form{
  display: flex;
}
.force-troix{
  margin: 50px 0 80px 0;
}
.spray-force{
  position: absolute;
  top: 140px;
  left: 273px;
  width: 173px;
  height: 249px;
}
.triple-force{
  position: relative;
}
.table-img{
  height: 210px;
  width: 160px;
}
.page-text-prod table tr{
  font-size: 14px;
  color:#20384E;
  text-align: center;
}
.page-text-prod table td{
  width: 189px;
}
.page-text-prod table th span{
  font-weight: 400;
  margin-top: 5px;
}
.tr-head{
  padding-bottom: 30px;
  border-bottom: 1px solid #45B3F1;
}
.tr-body{
  border-bottom: 1px solid #F2F2F2;
}
.td-title{
  font-weight: 700;
}
.page-text-prod table {
  margin-top: 60px;
  border-collapse: collapse;
  height: 406px;
  width: 690px;
}
.page-text-prod h2{
  margin: 80px  0 50px 0;
  font-size: 36px;
  line-height: 140%;
}
.page-text-prod h1{
  margin: 0px  0 50px 0;
  font-size: 36px;
  line-height: 140%;
}
.page-text-prod h3{
  font-size: 24px;
  line-height: 150%;
  margin: 0;
}
.page-text-prod p{
  font-size: 16px;
  line-height: 150%;
  margin: 0;
}
.unic-form{
  margin-bottom: 80px;
  margin-top: 50px;
}
.unic-form-text{
  margin-left:30px;
}
.unic-form-text p{
  margin-bottom: 20px;
}
.graph{
  margin-bottom: 110px;
}
.block-time{
  display: flex;
}
.block-like{
  display: flex;
}
.block-hand{
  display: flex;
}
.time-ins{
  margin-left: 54px;
}
.hand-ins{
  margin-left: 54px;
}
.like-ins{
  margin-left: 54px;
}
.text-link{
  margin-top: 50px;
  margin-bottom: 150px;
}
.blocks h2{
  color: #DF1E18;
  margin-bottom: 20px;
  margin-top: 60px;
}
.blocks ul{
  font-size: 24px;
  line-height: 150%;
  font-weight: 700;
}
.blocks h1{
  margin-top: 80px;
}

.blocks li{
  margin-top: 40px;
}
.blocks li::marker{
  color:#DF1E18;
}
.block-hand ul{
  font-size: 16px;
  line-height: 140%;
}
.block-hand li{
  margin-top:10px;
  font-weight: 400;
}
.block-hand li::marker{
  color: #20384E;
}
.button-prod{
  justify-content: center;
  margin-top: 50px;
  font-size: 16px;
  border: 0;
  display: flex;
  height: 50px;
  width: 132px;
  background: linear-gradient(180deg, #CE2424 0%, #FF0000 100%);
  border-radius: 50px;
}

.button-prod a{
  padding: 13px 20px 13px 20px;
  display: flex;
  width: 72px;
  color: #FFFFFF;
  font-family: MetaPro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.button-instr{
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 60px;
  font-size: 16px;
  border: 0;
  display: flex;
  height: 50px;
  width: 260px;
  background:  linear-gradient(89.62deg, #00CDFA 0.25%, #00BEE8 99.67%);
  border-radius: 50px;
}

.button-instr a{
  padding: 13px 20px 13px 20px;
  display: flex;
  width: 200px;
  color: #FFFFFF;
  font-family: MetaPro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}


















.tastes{

  .tastes-ins{
    display: flex;
    width: 690px;
    flex-wrap: wrap;
    div:nth-child(odd){
      margin-right: 100px;
    }
    div{
      margin-bottom: 50px;
      p{
        margin-top: 27px;
        text-align: center;
      }
    }
  }
}
.taste{
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
  color:#DF1E18;
}
.gluten-free{
  div{
    display: flex;
    margin-bottom: 80px;
  }
  .check-img{
    width: 120px;
  }
}
.sol{
  display: flex;
  margin-bottom: 40px;
  margin-right: 82px;
  img{
    margin-right: 40px;
  }
  h2{
    font-size: 24px;
    line-height: 140%;
    color:#DF1E18;
    margin: 0;
  }
  p{
    font-size: 16px;
    line-height: 140%;
    font-weight: 700;
    margin: 0;
  }
}
.rel{
  position: relative;
}
.dia{
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 140% !important;
  color: #FFFFFF;
}
.inf{
  position: absolute;
  top: 75%;
  right: 50px;
}
.ninf{
  text-align: center;
  width: 120px;
  position: absolute;
  top: 20%;
  right: 120px;
}
.diagram{
  position: absolute;
  z-index: -1;
}
.bg-diagram{
  left:53%;
  top:10%;
  position: absolute;
  z-index: -2;
}
.ideal-sol{
  display:flex;
}
.dia-block{
  margin-top: 50px;
  width: 690px;
  height: 312px;
  background: #F2FAFF;
  border-radius: 10px;
  display: flex;
  p{
    font-size: 14px;
    line-height: 140%;
    color: rgba(67, 83, 99, 0.5);
    margin-bottom: 20px;
  }
  div{
    margin-top: 30px;
    width: 320px;
    margin-left: 30px;
  }
  ul{
    font-size: 16px;
    line-height: 140%;
    padding-left: 20px;
  }
  li::marker{
    width: 7px;
    height: 7px;
  }
  li{
    margin-bottom: 20px;
  }
}
.pills-photo-prod{
  height: 397px;
  width: 627px;
  margin-top: -50px;
  margin-left: 130px;
}
.pills-force{
  position: absolute;
  top: 250px;
  left: 253px;
  width: 205px;
  height: 157px;}

.table-img{
  height: 210px;
  width: 160px;
}

.for-kids-block{
  margin-top: 200px;
  width: 1420px;
  height: 990px;
  background-image: url('/dist/assets/img/block-bg.svg');
  border-radius: 10px;
}
.every-mom{
  margin-top: 50px;
  display: flex;
}
.every-mom p{
  font-size: 20px;
  line-height: 140%;
  font-weight: 700;
  width: 650px;
}
.cens{
  height:59px;
  position: relative;
  top:0px;
  right: -70px;
}
.main-info p{
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 140%;
  font-weight: 700;
}
.main-info ul{
  font-size: 16px;
  line-height: 140%;
}
.main-info li::marker{
  width: 7px;
  height: 7px;
  color:#DF1E18;
}
.main-info {
  width: 600px;
}
.kids-ins-block{
  margin: auto;
  width: 1232px;
  margin-top: 85px;
  display: flex;
}
.uls-list{
  display: flex;
}
.kids-img{
  width: 293px;
  height: 453px;
  margin-left: 160px;
  margin-top: -60px;
}
.not-inside{
  margin-top:60px;
}
.footnote{
  width: 1232px;
  margin: auto;
  font-size: 16px;
  line-height: 140%;
}
.footnote p{
  margin-top: 60px;
}






.anons-elem{
  transform: translate(0, 20px);
  opacity:0;
  transition-duration: .3s;
}
.show_anons{
  transform: translate(0, -20px);
  opacity:1;
}
.mobile-disp{
  display: none;
}
.bg-cont {
  overflow: hidden;
  position: absolute;
  padding-top: 90px;
  margin-top:-90px;
  width: 100vw;
  height: 720px;
}
.bg-cont-main{
  overflow: hidden;
  position: absolute;
  padding-top: 90px;
  margin-top:-90px;
  width: 100vw;
  height: 914px;
  .cross{
    z-index: -7;
    position: absolute;
    right: calc(50% - 850px);
    top: calc(50% - 55px);
  }

}
.bg-cont-prod {
  overflow: hidden;
  position: absolute;
  padding-top: 90px;
  margin-top:-90px;
  width: 100vw;
  height: 620px;
}

.cookie{
  position:fixed;
  width: 100%;
  height: 205px;
  bottom: 0;
  left: 0;
  z-index: 10000;
  background: #FFFFFF;
  .container{
    margin-top: 20px;
    margin-bottom: 30px;
  }
  h2{
    font-size: 20px;
    line-height: 24px;
    color: #20384E;
  }
  p{
    font-size: 14px;
    line-height: 20px;
    color: #65788A;
  }
  a{
    font-size: 14px;
    line-height: 20px;
    color: #20384E;
    text-decoration: none;
  }

  .cookie-ins{
    display: flex;
    margin-left: 90.5px;
  }

}
.cookie-btn{
  justify-content: center;
  margin-top: 80px;
  margin-left: 100px;
  font-size: 16px;
  border: 0;
  display: flex;
  height: 50px;
  width: 185px;
  background:  linear-gradient(89.62deg, #00CDFA 0.25%, #00BEE8 99.67%);
  border-radius: 50px;
  a{
    padding: 13px 30px 13px 30px;
    display: flex;
    width: 125px;
    color: #FFFFFF !important;
    font-family: MetaPro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
  }

}







.main-main{
  height: 600vh;
}
.head-head{
  position: relative;
  width: 100%;
  height: 824px;
}

.head-main{
  padding-left: 90.5px;
  padding-top: 139px;
  display: flex;
  color:#435363;
  font-family: MetaPro;
  ul{
    margin-bottom: 60px;
    margin-top:122px;
    font-size: 28px;
    line-height: 24px;
    font-weight: 700;
    li{
      margin-bottom: 40px;
    }
    ::marker{
      color:#CE2424;
    }
    }
  p{
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 30px;
    width: 320px;
  }
}
.prod-photo{
  .img-photo{
    img{
      height:300px;
      width:600px !important;
    }
  }
  .img-pack{
    transition-duration: .3s;
    opacity: 0;
    width: 400px;
    height: 200px;
    margin-top: 50px;
    margin-left: 80px;
  }

}
.head-cont-main{

}
.head-scroll.owl-carousel{
  width: 600px;
  height: 300px;
  margin-left: 100px;
  margin-top: 80px;
  .owl-stage-outer{
    overflow:visible;
    .owl-stage{
      position: initial;
      transform: none !important;
    }
  }
  .owl-item{
    transition-duration: 0;
    position: absolute;
    left: 120%;
    opacity: 0;
    .img-pack{
        margin-top: -80px !important;
        opacity:1 !important;
    }
  }
  .owl-item.active{
    transition-duration: 1s;
    left: 28% !important;
    opacity: 1;
    .img-photo{
      img{
        width: 600px;
        height: 300px;
      }
    }
    .img-pack{
        margin-top: -80px !important;
        opacity:1 !important;
    }
  }
  .owl-item.active+.owl-item{
    transition-duration: 2s;
    left: 100%;
    display: block;
    opacity: 0.2;
    .img-photo{
      img{
        margin-top: 50px;
        width: 400px;
        height: 200px;
      }
    }
    .img-pack{
        margin-top: 50px !important;
        opacity:0 !important;
    }
  }

  .owl-item.active+.owl-item+.owl-item{
    transition-duration: 3s;
    left: 120%;
    display: block;
    opacity: 0;
    img{
      margin-top: 50px;
      width: 400px;
      height: 200px;
    }
  }
  .car-none{
    opacity:0;
    left:0;
    transition-duration: 0.5s;
  }


}





.baba-block{
  top:0px;
  width: 100%;
  position: absolute;
}
.story{
  position: relative;
  width: 100%;
  height: 712px;
  background-image: url('/dist/assets/img/bg-cross.svg');
}
.block-fix{
  top:0;
  left: 0;
  position: fixed;
  .story{
  top: -599px;
  }
  .head-head{
  top: -599px;
  }
}
.up-block {
  .story{
  top: -599px;
  }
  .head-head{
  top: -500px;
  }
}
.first{
  display: flex;
  position: absolute;
  img{
    position: relative;
    opacity: 0;
    transition-duration: .3s;
    margin-right: 272px;
    margin-top: -92px;
    width: 605px;
    height: 804px;
  }
  ul{

    margin-top: 236px;
    margin-bottom: 154px;
    font-family: MetaPro;
    font-weight: 700;
    font-size: 42px;
    color: #20384E;
    letter-spacing: 0.02em;
    line-height: 55px;
    li{
      transition-duration: .3s;
      opacity: 0;
      display: block;
      position: relative;
      margin-bottom: 51px;
    }
    ::before{
      position: absolute;
      width: 50px;
      height: 50px;
      content: url(/dist/assets/img/check-ul.svg);
      left: -90px;
    }
  }
}

.second{
  display: flex;
  position: absolute;
  h2{
    transition-duration: .3s;
    opacity: 0;
    margin-top: 0px;
    font-size: 42px;
    line-height: 55px;
    color: #45B3F1;
    margin-bottom: 40px;
  }
  .wmn{
    position: relative;
    opacity: 0;
    transition-duration: .3s;
    margin-left: -300px;
    margin-right: 0;
    margin-top: -92px;
    width: 605px;
    height: 804px;
  }
  .znak{
    margin-left: 300px;
    transition-duration: .5s;
    opacity:0;
    height:468px;
    padding-top: 149px;
  }
  ul{
    transition-duration: .3s;
    font-family: MetaPro;
    font-weight: 700;
    font-size: 42px;
    color: #20384E;
    letter-spacing: 0.02em;
    line-height: 55px;
    ::marker{
      color:#CE2424;
    }
    li{
      transition-duration: .3s !important;
      opacity: 0;
      margin-top: 200px;
      p{
        transition-duration: .3s;
        width: 504px;
        font-size: 16px;
        line-height: 150%;
        color: #435363;
        font-weight: 400;
      }
    }

  }
}
.third{
  display: flex;
  position: absolute;
  h2{
    transition-duration: .3s;
    opacity: 0;

    margin-left: 187px;
    font-size: 42px;
    line-height: 55px;
    color: #435363;
    margin-bottom: 40px;
  }
  .h2{
    margin-top: 210px;
    color: #DF1E18;
    margin-bottom: 0;
  }
  .wmn2{
    position: relative;
    opacity: 0;
    transition-duration: .3s;
    margin-left: -300px;
    margin-right: 0;
    margin-top: -92px;
    width: 605px;
    height: 804px;
  }
  p{
    opacity: 0;
    margin-left: 187px;
    transition-duration: .3s;
    width: 504px;
    font-size: 16px;
    line-height: 150%;
    color: #435363;
    font-weight: 400;
  }
}



.choose-container{
  margin-bottom: 20px;
  top: 30px;
  position: relative;
  text-align: center;
  color: white;
  text-decoration: none;
  overflow: hidden;
  border-radius: 10px;
  transition-duration: .3s;
  width: 250px;
  height: 236px;
}
.not-move-main{
  height: 300px;
}
.choose-container{
    height: 300px;
  }
.undertext-choose{
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  width: 220px;
  color: #435363;
  margin: 0 0 0 0;
}
.hidden-undertext-choose{
  transition-duration: .3s;
  opacity: 0;
  position: absolute;
  top:250px;
  left: 0;
  display: flex;
  opacity: 0;
  height: 1px;
  font-size: 16px;
  line-height: 140%;
  color: #435363;
  path{
    fill: #45B3F1;;
  }
}
.catalog-choose-img{
  transition-duration: 1s;
  height: 300px;
  position: absolute;

}
.item-container{
 a{
    color: #435363;
    text-decoration: none;
  }

}
.choose-slider{
  margin-top: 140px;
}


.visible-test{
  display: flex;
  width: 100%;
  height: 427px;
  box-shadow: 0 4px 25px rgba(0,0,0,.06);
  img{
    width: 294px;
    height: 461px;
    margin-top: -34px;
    margin-left: 224px;
  }
}
.super-test{
  margin-top: 170px;
  margin-bottom: 150px;
  color: #20384E;
  .button-supertest{
    position:relative;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 0;
    height: 50px;
    width: 152px;
    border-radius: 50px;
    a{
      padding: 13px 30px 13px 30px;
      display: flex;
      width: 92px;
      color: #FFFFFF;
      font-family: MetaPro;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none;
    }
  }
  h2{
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 55px;
  }
  p{
    margin: 0;
    font-size: 16px;
    line-height: 150%;
  }
  .super-text{
    margin-left: 192px;
    margin-right: 70px;
  }
}
.videos{
  margin-bottom: 150px;
  h2{
    font-size: 36px;
    line-height: 55px;
    color: #20384E;
  }
  .container{
    display: block;
  }
}
.faq{
  margin-bottom: 150px;
  h2{
    font-size: 36px;
    line-height: 55px;
    color: #20384E;
  }
  .container{
    display: block;
  }
  .faq-ins{
    display: flex;
  }
}
.baba{
  position: relative;
  .qst{
    opacity:0.4;
    position: absolute;
    width:10%;
    top: 100px;
    left:170px;
    transform: rotate(-24.98deg);
    animation: qst-anim-small 6s infinite;
  }
  .qst-anim{
    transform: rotate(21.02deg);
    position: absolute;
    top: -50px;
    left:470px;
    animation: qst-anim-big 6s infinite;

  }
  .wmn-faq{
    margin-left: 90px;
    margin-top: -80px;
  }
}
.video-item{
  position: relative;
  .play{
    transition-duration: .3s;
    position: absolute;
    left:calc(50% - 40.5px);
    top:calc(50% - 40.5px);
    height: 81px;
    width: 81px !important;
  }
  video{
    border-radius: 5px;
    width: 457px;
  }
  p{
    margin-bottom: 0;
  }
}
.youtube{
  border-radius: 5px;
}
.panel-btn{
  margin-bottom: 15px;
  .panel{
    width: 830px;
    background: #F2FAFF;
    border-radius: 5px;
    display: flex;
    p{
      padding-top: 18px;
      padding-bottom: 18px;
      margin: 0;
      font-size: 20px;
      line-height: 24px;
      color: #20384E;
    }
    span{
      padding-top: 18px;
      padding-bottom: 18px;
      margin: 0;
      font-size: 20px;
      line-height: 24px;
      color: #20384E;
    }
    svg{
      padding-top: 22.5px;
      padding-bottom: 22.5px;

      margin-right: 15px;
      margin-left: 20px;
    }
    .blue-txt{
      font-weight: 700;
      color: #45b3f1;
    }
  }
  .faq-text{

    width: 830px;
    box-shadow: 0 4px 25px rgba(0,0,0,.02);
    border-radius: 5px;
    margin-top: 25px;
    p{
      padding-bottom: 20px;
      margin-left: 55px;
      margin-right: 260px;
      font-size: 14px;
      line-height: 20px;
      color: #435363;
    }
  }

}





.move-main{
  margin-left: 500px !important;
}
.story-vis{
  opacity: 1 !important;
}
.visib{
  opacity:0;
}
.hide{
  background: #FFFFFF;
  path{
    fill: #DF1E18;
    transform: rotate(90deg);
    transform-origin: center center;
  }
}
.wmn-vis{
  margin-left: 0 !important;
  opacity: 1 !important;
}
.znak-vis{
  opacity: 1 !important;
  animation: logo_story 1s 1;
}
.znak-sec{
  margin-left: 0 !important;
  width: 198px !important;
  height: 181px !important;
  padding-left: 755px !important;
}
.h-vis{
  margin-top: -153px !important;
  opacity: 1 !important;

}
.li-vis{
  margin-top: 10px !important;
  opacity: 1 !important;
}
.visib-p{
  display: none;
}
@keyframes rotate_logo {
  0%{
    transform: scale(1.0);
  }
  2%{
    transform: scale(0.7);
  }
  24%{
    transform: scale(1.0) rotate(360deg);
  }
  25%{
    transform: rotate(0deg);
  }
}
@keyframes logo_story {
  0%{
    transform: scale(0.2)  rotate(-360deg);

  }
  1%{
    transform: translateY(500px);
  }
  50%{
    transform: scale(1.0) rotate(36deg);
  }
  80%{
    transform: rotate(-36deg);

  }
  100%{
    transform: rotate(0deg) ;
  }
}

@keyframes qst-anim-small {
  0%{
    transform: scale(0.0)  translateY(200px) rotate(-24.98deg);
    opacity: 0;

  }
  12%{
    transform: scale(1.0) rotate(-24.98deg);
    opacity: 0.4;
  }
  48%{
    transform: translateX(10px) rotate(-24.98deg);
  }

}
@keyframes qst-anim-big {
  0%{
    transform: scale(0.0)  translateY(200px) rotate(21.02deg);
    opacity: 0;

  }
  12%{
    transform: scale(1.0) rotate(21.02deg);
    opacity: 1;
  }
  48%{
    transform: translateX(10px) rotate(21.02deg);
  }
  55%{
    transform: scale(1.3) rotate(21.02deg);
    path{fill:#DF1E18;}
  }
  57%{
    transform: scale(1) rotate(21.02deg);
  }
  65%{
    transform: scale(1.3) rotate(21.02deg);
    path{fill:#DF1E18;}
  }
  67%{
    transform: scale(1) rotate(21.02deg);
  }

}

@import "utils/resolution_1366";
@import "utils/resolution_768";
@import "utils/resolution_320";
@import "utils/hovers";
